{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            About the DevOps Course
        </h1>

        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Devops-toolchain.svg/220px-Devops-toolchain.svg.png">
            <figcaption>
                The DevOps toolchain
            </figcaption>
        </figure>

        <p>
            A website for the NYU online DevOps course, built by Dr. Eugene
            Callahan, Vivek Bharti, Akshay Tambe, and the Fall 2018
            development
            <a href="/devops/teams">teams</a>.
        </p>

        <p>
            The course is built using
            <a href="https://www.djangoproject.com">Django</a>
            and other
            <a
                href="https://github.com/gcallah/OnlineDevops/blob/master/docker/requirements.txt">open
                source tools</a>,
            and is itself an <a href="https://github.com/gcallah/OnlineDevops">open
                source project</a>.
        </p>

        <p>
            The requirements for a A-quality course project are:
        </p>

        <ol class="nested">
            <li>
                The project strictly follows the DRY principle: everything that
                must appear in multiple places in the project has a single
                source.
            </li>

            <li>
                All aspects of the project are under version control, including
                source, build scripts, graphics, documentation, and anything
                else related to the project.
            </li>

            <li>
                Make sure to test changes locally before committing.
            </li>

            <li>
                The project has automated testing with over 50% test coverage,
                and, if web-based, has Selenium tests.
            </li>

            <li>
                All of your code should pass a lint tool for the language
                you are using.
            </li>

            <li>
                For any aspects of the project that are built, there is an
                automated build process.
            </li>

            <li>
               Developers can work in a Docker container for development,
               and deploys can be done via a container. Furthermore, the 
               containers themselves are built by scripts, not by hand.
            </li>

            <li>
                The project can successfully be deployed to the cloud.
            </li>

            <li>
                There is monitoring in place for the project.
            </li>

        </ol>

</div>

{% endblock content %}
