<html>
<head>
    <title>
        {% block title %}
        {{ header }}
        {% endblock title %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/static/devops/style.css">
    {% endblock stylesheets %}
</head>

<body class="dashboard">
    <div id="container">
        <div id="header">
            <div id="user-tools">
                <a href="/">Home</a>
                &nbsp;&nbsp;
                <a href="/devops/teams">Teams</a>
                &nbsp;&nbsp;
                <a href="/devops/about">About</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'participant_logout' %}">Log out</a>
                {% else %}
                    <a href="{% url 'participant_login' %}">Log in</a>
                {% endif %}
            </div>
            <div id="branding">
                <h1 class="brand">{{ header }}</h1>
            </div>
        </div>
        <div id="content" class="colMS">
            <div id="content-main">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>
</html>
