<html>
<head>
    <title>
        {% block title %}
        {{ header }}
        {% endblock title %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/devops/style.css">
    {% endblock stylesheets %}

</head>

<body>
    <div class="container-fluid" style="font-size:1rem;padding-top:5vh;">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light  fixed-top nav-font-size">

                    <a href="/" class="navbar-brand nav-title">The DevOps Coursework</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                          <a class="nav-link" href="/">Home</a>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link" href="/devops/teams">Teams</a>
                      </li>

                      <li class="nav-item">
                          <a href="/devops/about" class="nav-link">About</a>
                      </li>

                    <li>
                        {% if user.is_authenticated %}
                         <a href="{% url 'participant_logout' %}" class="nav-link">Log out</a>
                        {% else %}
                            <a href="{% url 'participant_login' %}" class="nav-link">Log in</a>
                        {% endif %}
                    </li>

                    </ul>
                  </div>
                </nav>


                &nbsp;&nbsp;



            </div>

        </div>

        <div id="content" class="row">

            <div id="content-main" class="col-sm-12" style="margin-top:5vh;">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
