{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Software Engineering Fundamentals
        </h1>

        <figure>
            <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/SOA_Metamodel.svg/900px-SOA_Metamodel.svg.png"
            width="26%">
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
            ""
            -- <a href="">
                </a>
        </p>

        <details>
            <summary class="sum1">
                Lesson 1
            </summary>


            <ul class="nested">
                <li>
                    Indent properly.
                </li>

                <li>
                    Keep functions short.
                </li>

                <li>
                    No magic constants.
                </li>

                <li>
                    Comment judiciously.
                </li>

                <li>
                    Go for the golden mean in naming.
                </li>

                <li>
                    
                </li>

            </ul>

        </details>

        <details>
            <summary class="sum1">
                Lesson 2
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Lesson 3
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Other Readings
            </summary>

            <ul class="nested">
                <li>
                    <a href="https://thenewstack.io/led-amazon-microservices-architecture/">
                        Amazon's move to microservices
                    </a>
                </li>
            </ul>


            <ul class="nested">
                <li>
                    <a href="https://en.wikipedia.org/wiki/Microservices">
                        Microservices
                    </a>
                </li>

                <li>
                </li>
            </ul>

        </details>


        {% include 'quiz.html' %}


{% endblock content %}
