{% extends "base.html" %}
{% block content %}

<div class="module" id="basic-content">
        <h1>
            Programming Fundamentals
        </h1>

        <figure>
            <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/IBM402plugboard.Shrigley.wireside.jpg/440px-IBM402plugboard.Shrigley.wireside.jpg"
            width="20%"
            class="zoom"
            >
            <figcaption>
                Our modern digital creations are complex: a key job of 
                programmers is to express that complexity as simply as
                possible.
            </figcaption>
        </figure>

        <p class="leadquote">
        "The best programs are written so that computing machines can perform
        them quickly and so that human beings can understand them clearly. A
        programmer is ideally an essayist who works with traditional aesthetic
        and literary forms as well as mathematical concepts, to communicate the
        way that an algorithm works and to convince a reader that the results
        will be correct." --
        <a href="https://en.wikipedia.org/wiki/Donald_Knuth">Donald Knuth</a>
        </p>

        <details>
            <summary class="sum1">
                Lesson 1: Some programming fundamentals
            </summary>

            <p>
                Humans have been programming computers for seven or so decades
                now. Let us look at some findings on how to write the best
                software possible!
            </p>


            <ul class="nested">
                <li>
                    <span class="hilight">DRY</span>
                    <br />
                    This stands for Don't Repeat Yourself! It means that any
                    part of your system that might ever need to change should
                    have a single place where you can make the change.
                    Don't copy blocks of code
                    to wherever you need them in your program: write a function
                    and call it from each of those places.
                    Don't define your data tables in your database, and
                    also in your code: find a way (like the Django
                    <code>models.py</code> file) to define your data one place
                    and use that definition to generate both the database
                    and the code that uses the DB.
                </li>

                <li>
                    <span class="hilight">No magic constants.</span>
                    <br />
                    This is a special case of DRY. It is very tempting,
                    when coding your NYU scheduling app, to write
                    code assuming there are two (major) semesters per year.
                    This will be fine... until NYU adopts a tri-mester
                    system. Instead, define a constant
                    <code>NUM_SEMS = 2</code>.
                    You
                    might get away with writing <code>day_of_week = day mod
                    7</code>, since that number probably will never change.
                    But you really ought to write <code>hour_of_day =
                    hour mod CLOCK_PERIOD</code>, since both 12 and 24 hour
                    timekeeping methods exist.
                </li>

                <li>
                    <span class="hilight">Make functions do one job.</span>
                    <br />
                    Funcitons that perform a single job are simpler to 
                    understand, easier to change or eliminate, and render
                    the overall system more comprehensible. For instance,
                    if the county writes a tax program with a function
                    called <code>calc_taxes</code>, it would be 
                    natural to eliminate that function if the job is 
                    later passed off to a microservice running on the cloud.
                    <i>But</i>, if the coders also happened to include 
                    the code to clear tax liens (county claims against the
                    property for unpaid taxes) in the same function...
                    Oops! No one who ever had a tax lien can sell their
                    property, because the lien never gets cleared.
                </li>

                <li>
                    <span class="hilight">Keep functions short.</span>
                    <br />
                    This is related to the previous principle, but focuses
                    on the <i>size</i> of the one job that should be done.
                    A function named <code>handle_yearly_taxes() </code>
                    is doing one job, but probably way to big a job.
                    It would make more sense to have
                    <code>create_tax_roll()</code>,
                    <code>calculate_taxes()</code>, 
                    <code>send_bills()</code>, 
                    <code>record_payments()</code>,
                    and perhaps more.
                </li>

                <li>
                    <span class="hilight">Format and indent properly.</span>
                    <br />
                    Different languages have different conventions for how to 
                    name variables (<code>camelCase</code>,
                    <code>with_underscores</code>, <code>MixedCase</code>,
                    and so on), how to space operators, where to put braces,
                    and so on. You should follow those conventions, unless
                    there is a strong reason not to. Consistent indentation is
                    <i>especially</i> important: it allows a reader of your
                    code to easily line up blocks of control. Irregular
                    indentation is a significant source of bugs, as people
                    modifying the code will make mistakes,
                    for example, about which 
                    <code>else</code> goes with which <code>if</code>.
                </li>

                <li>
                    <span class="hilight">Comment judiciously.</span>
                    <br />
                    Code should contain <i>some</i> comments, especially
                    things like docstrings for classes that can be extracted
                    to produce a guide to the system, and comments explaining
                    what particularly tricky or unusual bits of code do.
                    But commenting is no substitute for writing clear,
                    readable code in the first place! The best explanation 
                    of what your code does is, if you write it correctly,
                    <i>your code itself</i>. Remember that we could, and once
                    did, write code just as a sequence of 1s and 0s.
                    And all higher-level languages need to be translated 
                    into such code in the end. So why bother with C, Java,
                    or Python? These languages exist for <i>humans</i>,
                    not for computers: they make it easier for us to understand
                    and reason about what a program will do. The upshot:
                    you should look at your code as being every bit as much
                    about communicating to humans as about directing a
                    computer.
                </li>

                <li>
                    <span class="hilight">Go for the golden mean in
                        naming.</span>
                    <br />
                    Sometimes, names of functions and variables can be way too
                    cryptic: there are examples in the widely used CLRS
                    Algorithm book where I have found as many as six 
                    single-letter variable names used at once. On the other
                    hand, naming a function something like
                    <code>take_input_of_employee_w2_and_calculate_employee_tax_rate()</code>
                    is absurdly long: please remember, other programmers will 
                    have to type your function names in order to call your
                    functions! Such immense names also make it extremely
                    difficult to stay within guidelines like PEP 8's dictum
                    of "no lines longer than 79 characters."
                    A more reasonable middle ground might be something like
                    <code>calc_tax_rate()</code>, where an employee's W2
                    might be a parameter for the function.
                </li>

                <li>
                    Break your code up into modules that handle one aspect of
                    the program... your accounting program might have modules
                    for taxes, payroll, invoices, bills, and bank accounts
                    (perhaps).
                </li>

                <li>
                    Keep interfaces between modules narrow (as little data has
                    to pass between them as possible) and clearly defined.
                    Change these interfaces as little as possible.
                </li>

                <li>
                    <span class="hilight">Test, test, test!</span>
                    <br />
                    Test <i>small</i> pieces of code as you go along.
                    Write an automated test to go with every program or new
                    feature you write. Test as completely by hand as you can:
                    don't just test that your code fetches the data from the DB
                    correctly: test that it still works properly if there is
                    no data in the DB, or, indeed, if there is no DB!
                    ("Properly" here could mean "Display an informative error
                    message instead of crashing.")
                </li>
            </ul>

        </details>

        <details>
            <summary class="sum1">
                Lesson 2: Python coding standards
            </summary>

            <p>
                For this lesson, please read the Python coding standard,
                <a href="https://www.python.org/dev/peps/pep-0008/">PEP 8</a>.
                It is a very good example of what a coding standard is like,
                and most of the guidelines can be applied in other languages.
            </p>
        </details>


        <details>
            <summary class="sum1">
                Lesson 3: Language styles: important or not?
            </summary>

            <figure>
                <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/wyABTfR9UTU"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
                <figcaption>
                    Dave Farley on styles of programming languages.
                </figcaption>
            </figure>
        </details>

        <details>
            <summary class="sum1">
                Other Readings
            </summary>

            <ul class="nested">
                <li>
                    <a
                        href="http://www.u.arizona.edu/~rubinson/copyright_violations/Go_To_Considered_Harmful.html">
                    "Go To Statement Considered Harmful"
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.win.tue.nl/~wstomv/edu/2ip30/references/criteria_for_modularization.pdf">
                    "On the criteria to be used in decomposing systems into modules"
                    </a>
                </li>
                <li>
                    <a href="https://code.tutsplus.com/tutorials/top-15-best-practices-for-writing-super-readable-code--net-8118">
                        Programming Best Practices
                    </a>
                </li>
                <li>
                    <a href="https://medium.com/python-pandemonium/what-is-flake8-and-why-we-should-use-it-b89bd78073f2">
                        Following Coding Standards using Flake8
                    </a>
                </li>
            </ul>

        </details>


        {% include 'quiz.html' %}

</div>






{% endblock content %}
