{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Automating Builds
        </h1>

        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Tijuana_residential_construction.jpg/440px-Tijuana_residential_construction.jpg"
            width="20%">
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
        </p>

        <details>
            <summary class="sum1">
                Lesson 1
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Lesson 2
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Lesson 3
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Other Readings
            </summary>

            <ul class="nested">
                <li>
                    <a href="http://www.gearstream.com/devops-build-management-2/">
                        DevOps Build Management
                    </a>
                </li>
            </ul>

        </details>

        {% include 'quiz.html' %}

{% endblock content %}
