{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Continuous Integration / Continuous Deployment
        </h1>

        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/TestingCup-Polish-Championship-in-Software-Testing-Katowice-2016.jpg/440px-TestingCup-Polish-Championship-in-Software-Testing-Katowice-2016.jpg"
            width="24%">
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
        </p>

        <details>
            <summary class="sum1">
                Lesson 1: What Is CI/CD?
            </summary>

        </details>

        <details>
            <summary class="sum1">
                Lesson 2: Jenkins
            </summary>

            <p>
                Jenkins is a CI/CD tool.
            </p>

            <figure>
                <iframe width="560"
                        height="315"
                        src="https://www.youtube.com/embed/ww7zajz3mdA"
                        frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <figcaption>
                    Introduction to Jenkins by Denis Petelin
                </figcaption>
            </figure>

            <p>
                <a href="https://en.wikipedia.org/wiki/Jenkins_(software)">
                    Jenkins</a>
                on Wikipedia.
            </p>

        </details>

        <details>
            <summary class="sum1">
                Other Material
            </summary>

            <figure>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/V568cAbz2ls" 
                    frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen>
                </iframe>
                <figcaption>
                    What Is Jenkins?
                </figcaption>
            </figure>

            <ul class="nested">
                <li>
                    <a href="https://devops.com/death-of-the-release-the-move-to-continuous-delivery-and-experimentation/">
                        The Death of the Release
                    </a>
                </li>

                <li>
                    <a href="https://gist.github.com/misterbrownlee/3708738">
                        Setting up Jenkins as a webhook in GitHub
                    </a>
                </li>

                <li>
                    <a href="https://www.youtube.com/watch?v=TWwvxn2-J7E">
                        Slack notification plugin integration with Jenkins
                    </a>
                </li>

                <li>
                    <a href="https://blog.travis-ci.com/2017-12-05-what-is-ci-part-1">
                        Testing and Continuous Integration Part 1
                    </a>
                </li>

                <li>
                    <a href="https://blog.travis-ci.com/2018-01-25-what-is-ci-part-2">
                        Testing and Continuous Integration Part 2
                    </a>
                </li>

                <li>
                    <a href="https://techblog.covermymeds.com/databases/jenkins-test-files-changed-git-commit/">
                        Testing only recently changed git files in jenkins
                    </a>
                </li>
            </ul>

        </details>

        {% include 'quiz.html' %}

{% endblock content %}
