{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Continuous Integration / Continuous Deployment
        </h1>

        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/TestingCup-Polish-Championship-in-Software-Testing-Katowice-2016.jpg/440px-TestingCup-Polish-Championship-in-Software-Testing-Katowice-2016.jpg"
            width="24%">
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
        </p>
        <details>
        <p>
            <summary class="sum1">
                Lesson 1: What Is CI/CD?
            </summary>
            <p>
                CI and CD are two acronyms that are often mentioned when people talk about modern development practices.Continuous
                integration (CI) and continuous delivery (CD) embody a culture, set of operating principles, and collection of
                practices that enable application development teams to deliver code changes more frequently and reliably. The
                implementation is also known as the CI/CD pipeline and is one of the best practices for devops teams to implement.
            </p>
            <h5>CI : Continuous Integration</h5>
            <p>
                Continuous Integration can be explained as: you want all parts of what goes into making your application go to
                the same place and run through the same processes with results published to an easy to access place.
            </p>
            <p>
                Once all the code and changes start going to the same place, you can run some processes on that
                repository every time something changes. These processes can include:
                <li>
                    Running automatic code quality tests.
                </li>
                <li>
                    Building the code and running automated tests.
                </li>
            </p>
            <p>
                These simple additions allows the developer to focus on writing the code. The central repository of code is there to
                receive your changes while automated processes can build, test, and scan the code while providing reports.
            </p>
            <h5>CD : Continuous Delivery</h5>
            <p>
                Continuous delivery picks up where continuous integration ends. CD automates the delivery of applications to selected
                infrastructure environments. Most teams work with multiple environments other than the production, such as development
                and testing environments, and CD ensures there is an automated way to push code changes to them.  CD automation then
                performs any necessary service calls to web servers, databases, and other services that may need to be restarted or
                follow other procedures when applications are deployed.
            </p>
            <p>
                There are many free tools available which let's you employ CI/CD easily, such as Travis CI or Jenkins.
            </p>
            </br>
            <p><B>References :</B></p>
            <li>https://www.infoworld.com/article/3271126/what-is-cicd-continuous-integration-and-continuous-delivery-explained.html</li>
            <li>https://www.atlassian.com/continuous-delivery/principles/continuous-integration-vs-delivery-vs-deployment</li>
            <li>https://www.mabl.com/blog/what-is-cicd</li>
        </details>

        <details>
            <summary class="sum1">
                Lesson 2: Jenkins
            </summary>
            <p>
                Jenkins is an open source automation tool written in Java with plugins built for Continuous Integration purpose. Jenkins is used to build and test your software projects continuously making it easier for developers to integrate changes to the project, and making it easier for users to obtain a fresh build. It also allows you to continuously deliver your software by integrating with a large number of testing and deployment technologies.
            </p>
            <p>    
                With Jenkins, organizations can accelerate the software development process through automation. Jenkins integrates development life-cycle 
                processes of all kinds, including build, document, test, package, stage, deploy, static analysis and much more.    
            </p>
            <p>    
                Jenkins achieves Continuous Integration with the help of plugins. Plugins allows the integration of Various DevOps stages. If you want to integrate a particular tool, you need to install the plugins for that tool. For example: Git, Maven 2 project, Amazon EC2, HTML publisher etc.    
            </p>
            <h5>Advantages of Jenkins</h5>
                <li>It is an open source tool with great community support.
                <li>It is easy to install.
                <li>It has 1000+ plugins to ease your work. If a plugin does not exist, you can code it and share with the community.
                <li>It is free of cost.
                <li>It is built with Java and hence, it is portable to all the major platforms.</li>

            <figure>
                <iframe width="560"
                        height="315"
                        src="https://www.youtube.com/embed/ww7zajz3mdA"
                        frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <figcaption>
                    Introduction to Jenkins by Denis Petelin
                </figcaption>
            </figure>

            <p>
                <a href="https://en.wikipedia.org/wiki/Jenkins_(software)">
                    Jenkins</a>
                on Wikipedia.
            </p>
            <p><B>References :</B></p>
            <li>https://www.infoworld.com/article/3271126/what-is-cicd-continuous-integration-and-continuous-delivery-explained.html</li>
            <li>https://www.edureka.co/blog/what-is-jenkins/</li>
        </details>


        <details>
            <summary class = "sum1">
                Lesson 3: Running Jenkins
            </summary>
            <p><span class="hilight">Note: Below information is about making jenkins build on Github changes.</span></p>
                <details>
                        <summary class="sum2">
                            Install the prerequisites
                        </summary>
                        <ul class = "nested">
                                <li>
                                    Install JAVA if you don't already have it !
                                </li>
                                <li>
                                    Install Git if you don't already have it!
                                </li>
                                <li>
                                    Install Docker (optional)
                                </li>
                                <li>
                                    Create a git repo to test the demo. It should consist of:
                                    <ul class="nested">
                                        <p>Readme.md</p>
                                        <p>Jenkinsfile</p>
                                    </ul>
                                </li>
                        </ul>
                </details>
                <details>
                        <summary class="sum2">
                            Install and initialize Jenkins
                        </summary>
                        <p>
                            Jenkins can be installed on various platforms and operating systems. For this demonstration we are using
                            Docker to install Jenkins.
                        </p>
                        <p>
                            There are several Docker images of Jenkins available. The recommended Docker image to use is the jenkinsci/blueocean
                            image (from the Docker Hub repository). This image contains the current Long-Term Support (LTS) release of Jenkins
                            (which is production-ready) bundled with all Blue Ocean plugins and features.
                        </p>

                        <p>
                            After downloading the jenkins image you can use below docker command to install and run jenkins on docker.
                        </p>
                        <p>
                            <B>For macOS/Linux : </B> Open terminal and run the image as container in Docker using below command
                            </br>
                            <pre><code data-lang="bash">
                                docker run \
                                -u root \
                                --rm \
                                -d \
                                -p 8080:8080 \
                                -p 50000:50000 \
                                -v jenkins-data:/var/jenkins_home \
                                -v /var/run/docker.sock:/var/run/docker.sock \
                                jenkinsci/blueocean
                            </code></pre>
                            </br>
                        </p>
                        <p>
                            <B>For Windows : </B> Open command prompt and run below command
                            <pre><code data-lang="bash">
                                docker run ^
                                -u root ^
                                --rm ^
                                -d ^
                                -p 8080:8080 ^
                                -p 50000:50000 ^
                                -v jenkins-data:/var/jenkins_home ^
                                -v /var/run/docker.sock:/var/run/docker.sock ^
                                jenkinsci/blueocean
                            </code></pre>
                        </p>
                </details> 
                <details>
                        <summary class="sum2">
                            Connect Jenkins to Github
                        </summary>
                </details> 
                <details>
                        <summary class="sum2">
                            Create a project to build your application
                        </summary>
                </details>         



            </br>
            <p><B>References :</B></p>
            <li>https://www.mirantis.com/blog/intro-to-cicd-how-to-make-jenkins-build-on-github-changes/</li>
        </details>
        <details>
            <summary class="sum1">
                Other Material
            </summary>

            <figure>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/V568cAbz2ls" 
                    frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen>
                </iframe>
                <figcaption>
                    What Is Jenkins?
                </figcaption>
            </figure>

            <ul class="nested">
                <li>
                    <a href="https://continuousdelivery.com">
                        What Is Continuous Delivery?
                    </a>
                </li>

                <li>
                    <a href="https://continuousdelivery.com/foundations/continuous-integration/">
                        Continuous Integration
                    </a>,
                    and the dangers of branching!
                </li>

                <li>
                    <a href="https://continuousdelivery.com/2011/07/on-dvcs-continuous-integration-and-feature-branches/">
                        Don't branch for more than a day!
                    </a>
                </li>

                <li>
                    <a href="https://devops.com/death-of-the-release-the-move-to-continuous-delivery-and-experimentation/">
                        The Death of the Release
                    </a>
                </li>

                <li>
                    <a href="https://gist.github.com/misterbrownlee/3708738">
                        Setting up Jenkins as a webhook in GitHub
                    </a>
                </li>

                <li>
                    <a href="https://www.youtube.com/watch?v=TWwvxn2-J7E">
                        Slack notification plugin integration with Jenkins
                    </a>
                </li>

                <li>
                    <a href="https://blog.travis-ci.com/2017-12-05-what-is-ci-part-1">
                        Testing and Continuous Integration Part 1
                    </a>
                </li>

                <li>
                    <a href="https://blog.travis-ci.com/2018-01-25-what-is-ci-part-2">
                        Testing and Continuous Integration Part 2
                    </a>
                </li>

                <li>
                    <a href="https://techblog.covermymeds.com/databases/jenkins-test-files-changed-git-commit/">
                        Testing only recently changed git files in jenkins
                    </a>
                </li>
            </ul>

        </details>

        {% include 'quiz.html' %}

{% endblock content %}
