{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Continuous Integration / Continuous Deployment
        </h1>

        <figure>
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/v4Ijkq6Myfc"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <figcaption>
                Dave Farley on CI vs. branching
            </figcaption>
        </figure>

        <figure>
            <iframe width="560" height="315"
                src="https://www.youtube.com/embed/aoMfbgF2D_4"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <figcaption>
                Martin Fowler on Continuous Delivery
            </figcaption>
        </figure>

        <p class="leadquote">
        </p>
        <details>
            <summary class="sum1">
                Lesson 1: What Is CI/CD?
            </summary>
            <p>
                Continuous integration (CI) and continuous delivery (CD) are a
                pair of practices that, when done properly, greatly aid an
                organization's ability to deliver software frequently and
                reliably to its customers.  We often hear the combination of
                these practices referred to as "the CI/CD pipeline," and they
                are among the most important practices a DevOps team can
                implement.  So what do these practices consist of?
            </p>

            <h5>CI : Continuous Integration</h5>

            <p>
                Continuous Integration means that every developer should be
                pushing code to the master branch regularly, at the minimum
                once per day, and that then that code should be tested to
                ensure that it <i>integrates</i> with all the other code
                currently in the master branch. The practice of continuous
                integration eliminates the huge "integration" phase that
                typically took place in waterfall model projects, where
                developers would work on isolated pockets of code for months
                or even a year or more, and only try to join their code to
                other teams' code at the very end of the project.
            </p>
                
            <p>
                On a push to the master branch, various processes can be
                launched, such as:
            </p>

            <ul class="nested">
                <li>
                    Running automatic code quality tests.
                </li>
                <li>
                    Building an executable from the code.
                </li>
                <li>
                    Reporting on code testing coverage.
                </li>

                <li>
                    Building a docker container that can be used
                    to deploy the code.
                </li>

            </ul>

            <p>
                These simple additions allows the developer to focus on writing
                the code. The central repository of code is there to receive
                your changes while automated processes can build, test, and
                scan the code while providing reports.
            </p>

            <h5>CD : Continuous Delivery</h5>

            <p>
                Continuous delivery means taking the result of the continuous
                integration process and delivering it to a "place" in which it
                can be run. That "place" my be a test server, a staging server,
                or even production. If the continuous delivery phase is
                actually putting the new software right into production, then
                it also qualifies as "continuous deployment." It almost goes
                without saying that only teams experienced with CI/CD should
                extend that practice to continuous deployment.
            </p>

            <p>
                There are many free tools to aid in CI/CD, such as Travis CI
                and Jenkins, both of which we will discuss below.
            </p>

            <p><B>References :</B>
            </p>

            <ul class="nested">
            <li>https://www.infoworld.com/article/3271126/what-is-cicd-
              continuous-integration-and-continuous-delivery-explained.html</li>
            <li>https://www.atlassian.com/continuous-delivery/principles
              /continuous-integration-vs-delivery-vs-deployment</li>
            <li>https://www.mabl.com/blog/what-is-cicd</li>
            </ul>
        </details>

        <details>
            <summary class="sum1">
                Lesson 2: Jenkins
            </summary>
            <p>
                Jenkins is an open source automation tool written in Java.
                It aids the adoption of CI/CD because through WebHooks, Jenkins
                can be triggered by, for instance, a push to GitHub. Upon being
                triggered, Jenkins can directly, or through plugins, run a wide
                variety of processes that can test, package, document, analyze
                and deploy your application.
            </p>

            <h5>Advantages of Jenkins</h5>
                <ul class="nested">
                <li>It is an open source tool with great community support.
                </li>
                <li>
                    It has 1000+ plugins to ease your work. If a plugin does
                not exist, you can code it and share with the community.
                </li>
                <li>It is free.</li>
                <li>It is built with Java and hence, it is portable to all
                    major platforms.</li>
                </ul>

            <figure>
                <iframe width="560"
                        height="315"
                        src="https://www.youtube.com/embed/ww7zajz3mdA"
                        frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <figcaption>
                    Introduction to Jenkins by Denis Petelin
                </figcaption>
            </figure>

            <p>
                <a href="https://en.wikipedia.org/wiki/Jenkins_(software)">
                    Jenkins</a>
                on Wikipedia.
            </p>
            <p><B>References :</B></p>
            <ul>
            <li>
                <a href="https://www.edureka.co/blog/what-is-jenkins/">
                    What Is Jenkins?
                </a>
            </li>
            </ul>
        </details>

        <details>
            <summary class = "sum1">
                Lesson 3: Travis-CI
            </summary>

            <p>
                Travis CI is a relatively easy-to-setup CI/CD tool.
                It relies on a YAML file for its configuration, and uses a
                Webhook to tie to GitHub.
            </p>

            <p>
                The Travis YAML file (<span class="code">.travis.yml</span>)
                contains a number of directives as to how the build should be
                performed. The directives can specify languages to install
                (e.g., Python 3.6), services to employ (e.g., docker),
                set environment variables
                (such as <span class="code">PYTHONPATH</span>),
                a main script to run (e.g., <span class="code">make
                    tests</span>), an install section to install things like
                your test tools, a service to notify about the state of the 
                build (such as Slack), addons (such as adding a known host to
                SSH), and things to do if the build succeeded 
                or if it failed. The YAML file is an example of declarative
                programming.
            </p>

            <p>
                Here is the Travis configuration file for this website:
            </p>

            <p>
            <code>
                <pre>
    language: python
    python:
        - '3.6'
    
    services:
        - docker
    
    addons:
        ssh_known_hosts: ssh.pythonanywhere.com
    
    before_install:
        openssl aes-256-cbc -K $encrypted_4cefc8a5b2ff_key -iv $encrypted_4cefc8a5b2ff_iv -in id_rsa.enc -out ~/.ssh/id_rsa -d
    
    install:
        - pip install -r docker/requirements-dev.txt
    
    env:
        - PYTHONPATH=/home/travis/build/gcallah/OnlineDevops
    
    script:
        - make tests
    
    after_success:
        - ./deploy.sh
    
    notifications:
      slack: devopsnyu:vAFcJBgAP2f73SqhWgb40Gjf
                </pre>
            </code>
            </p>

            <details>
                <summary class = "sum2">
                    Implementing Travis Deploy to PythonAnywhere
                </summary>
                <p>
                    After the Travis YAML file is written, once it is made
                    sure that all the tests are passing, the next step would 
                    be to start a cloud deployment. This website is deployed 
                    to PythonAnywhere.
                </p>
                <p>
                    For any deployment, one of the ways Travis would 
                    establish a connection with the cloud is SSH. But,
                    for an automated deployment by Travis, there is a 
                    need for a non interactive SSH connection. One of 
                    the ways to set up such a connection is to use a 
                    package called SSHPass. This package provides a 
                    way to pass the password to the ssh command.
                </p>
                <p>
                    Here are the steps to do that:
                    <ul class="nested">
                        <li>
                            In the Travis YAML file add the following 
                            lines to before_install:
                            <p>
                                <code>
                                    <pre>
    before_install:
      - sudo apt-get update
      - sudo apt-get install sshpass
                                    </pre>
                                </code>
                            </p>
                            The first line updates apt-get, and the 
                            second line installs the sshpass package
                            on Travis
                        </li>
                        <li>
                            The password to ssh should not be present in
                            any of the scripts. Luckily, there is a way
                            to encript environment variables on Travis.
                            So, the ssh password should be added as an
                            encrypted environment variable (say "pa-pwd")
                            on Travis.(This can be done on the settings 
                            tab of Travis.)
                        </li>
                        <li>
                            In the script, where the ssh command is used 
                            (say <span class="code"> deploy.sh</span>), 
                            pass the ssh password from the Travis
                            environment variable set in the previous
                            step by adding the sshpass command as follows:
                            <p>
                                <code>
                                    <pre>
    sshpass -p $pa_pwd ssh $project_name@ssh.pythonanywhere.com
                                    </pre>
                                </code>
                            </p>
                            Note: $pa_pwd is available in <span class="code">
                            .travis.yml</span> file. So, if the script 
                            "<span class="code"> deploy.sh</span>" is 
                            being called from <span class="code">
                            .travis.yml</span> file, then make sure that 
                            $pa_pwd is passed as an argument to 
                            "<span class="code"> deploy.sh</span>", 
                            which can be used along with the sshpass
                            command.
                        </li>
                    </ul>
                </p>

            </details>

        </details>


        <details>
            <summary class = "sum1">
                Lesson 4: Running Jenkins
            </summary>
            <p>
                <span class="hilight">Note: Below information is about making
                    a Jenkins build triggered by Github changes.</span>
            </p>
                <details>
                        <summary class="sum2">
                            Install the prerequisites
                        </summary>
                        <ul class = "nested">
                                <li>
                                    Install JAVA if you don't already have it !
                                </li>
                                <li>
                                    Install Git if you don't already have it!
                                </li>
                                <li>
                                    Install Docker (optional)
                                </li>
                                <li>
                                    Create a git repo to test the demo. It
                                    should consist of:
                                    <ul class="nested">
                                        <p>Readme.md</p>
                                        <p>Jenkinsfile</p>
                                    </ul>
                                </li>
                        </ul>
                </details>
                <details>
                        <summary class="sum2">
                            Install and initialize Jenkins
                        </summary>
                        <p>
                            Jenkins can be installed on various platforms and
                            operating systems. For this demonstration we are
                            using Docker to install Jenkins.
                        </p>
                        <p>
                            There are several Docker images of Jenkins
                            available. The recommended Docker image to use is
                            the jenkinsci/blueocean image (from the Docker Hub
                            repository). This image contains the current
                            Long-Term Support (LTS) release of Jenkins (which
                            is production-ready) bundled with all Blue Ocean
                            plugins and features.
                        </p>

                        <p>
                            After downloading the jenkins image you can use
                            below docker command to install and run jenkins on
                            docker.
                        </p>
                        <p>
                            <B>For macOS/Linux : </B> Open terminal and run the
                            image as container in Docker using below command
                            </br>
                            <pre><code data-lang="bash">
                                docker run \
                                -u root \
                                --rm \
                                -d \
                                -p 8080:8080 \
                                -p 50000:50000 \
                                -v jenkins-data:/var/jenkins_home \
                                -v /var/run/docker.sock:/var/run/docker.sock \
                                jenkinsci/blueocean
                            </code></pre>
                            </br>
                        </p>
                        <p>
                            <B>For Windows : </B> Open command prompt and run below command
                            <pre><code data-lang="bash">
                                docker run ^
                                -u root ^
                                --rm ^
                                -d ^
                                -p 8080:8080 ^
                                -p 50000:50000 ^
                                -v jenkins-data:/var/jenkins_home ^
                                -v /var/run/docker.sock:/var/run/docker.sock ^
                                jenkinsci/blueocean
                            </code></pre>
                        </p>
                </details>
                <details>
                        <summary class="sum2">
                            Connect Jenkins to Github
                        </summary>
                </details>
                <details>
                        <summary class="sum2">
                            Create a project to build your application
                        </summary>
                </details>
            </br>
            <p><B>References :</B></p>
            <li>https://www.mirantis.com/blog/intro-to-cicd-how-
              to-make-jenkins-build-on-github-changes/</li>
        </details>
        <details>
            <summary class="sum1">
                Other Material
            </summary>

            <figure>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/skLJuksCRTw"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <figcaption>
                    Jez Humble on Continuous Delivery
                </figcaption>
            </figure>

            <figure>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/V568cAbz2ls"
                    frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen>
                </iframe>
                <figcaption>
                    What Is Jenkins?
                </figcaption>
            </figure>

            <ul class="nested">
                <li>
                    <a href="https://continuousdelivery.com">
                        What Is Continuous Delivery?
                    </a>
                </li>

                <li>
                    <a href="https://continuousdelivery.com/foundations/continuous-integration/">
                        Continuous Integration
                    </a>,
                    and the dangers of branching!
                </li>

                <li>
                    <a href="https://continuousdelivery.com/2011/07/on-dvcs-continuous-integration-and-feature-branches/">
                        Don't branch for more than a day!
                    </a>
                </li>

                <li>
                    <a href="https://devops.com/death-of-the-release-the-move-to-continuous-delivery-and-experimentation/">
                        The Death of the Release
                    </a>
                </li>

                <li>
                    <a href="https://opensource.com/article/19/4/devops-pipeline">
                        A Beginner's Guide To Building DevOps Pipelines With Open Source Tools
                    </a>
                </li>

                <li>
                    <a href="https://gist.github.com/misterbrownlee/3708738">
                        Setting up Jenkins as a webhook in GitHub
                    </a>
                </li>

                <li>
                    <a href="https://www.youtube.com/watch?v=TWwvxn2-J7E">
                        Slack notification plugin integration with Jenkins
                    </a>
                </li>

                <li>
                    <a href="https://blog.travis-ci.com/2017-12-05-what-is-ci-part-1">
                        Testing and Continuous Integration Part 1
                    </a>
                </li>

                <li>
                    <a href="https://blog.travis-ci.com/2018-01-25-what-is-ci-part-2">
                        Testing and Continuous Integration Part 2
                    </a>
                </li>

            </ul>

        </details>

        {% include 'quiz.html' %}

{% endblock content %}
