{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Cloud Deployment
        </h1>

        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Cumulus_clouds_panorama.jpg/880px-Cumulus_clouds_panorama.jpg"
            width="30%"
            class="zoom"
            >
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
        </p>

        <details>
            <summary class="sum1">
                Lesson 1: Why the Cloud?
            </summary>

            <p>
                Cloud services generally provide:
            </p>

            <ul class="nested">
                <li>
                    <span class="hilight">On demand self-service</span>
                    <br />
                    You don't have to wait for IT to get you a new server "real
                    soon."
                </li>

                <li>
                    <span class="hilight">Ubiquituous network access</span>
                    <br />
                    Not just from inside the corporate firewall.
                </li>

                <li>
                    <span class="hilight">Location transparent resource
                        pooling</span>
                    <br />
                    You know where your servers live.
                </li>

                <li>
                    <span class="hilight">Rapid elasticity</span>
                    <br />
                    You can scale your service up or down in a matter of
                    seconds.
                </li>

                <li>
                    <span class="hilight">Consumption-based pricing</span>
                    <br />
                    You can save money by scaling back when need is low, but
                    scale up (and pay more) when you need the computing power.
                </li>

            </ul>

            <figure>
                <iframe width="560" height="315"
                 src="https://www.youtube.com/embed/qTaasJgJPZA"
                 frameborder="0"
                 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                 allowfullscreen>
                </iframe>
                <figcaption>
                    The Microsoft Azure Cloud:
                    <br/>
                    (The above material was largely drawn from this video.)
                </figcaption>
            </figure>

        </details>

        <details>
            <summary class="sum1">
                Lesson 2: Heroku
            </summary>

            <p>
                Heroku provides "platform-as-a-service" (PAAS). A PAAS provides
                not just a virtual machine, but the full infrastructure
                typically needed to run a modern web app, such as a database, a
                load balancer, a data cache, and connections to other popular
                platforms.
            </p>

            <figure>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/QTOkqzCTGxw"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <figcaption>
                    Introduction to Heroku
                </figcaption>
            </figure>

        </details>

        <details>
            <summary class="sum1">
                Lesson 3: Kubernetes and Docker
            </summary>

            <p>
                Docker is useful for containerizing an application and
                deploying it to the cloud. But, as noted in the section above,
                a modern web app typically consists of a fair
                number of independent services. With a 
                <a href="http://www.thedevopscourse.com/devops/micro">
                microservice architecture</a>, even the basic business logic
                may be split among several servers. What if we want to deploy
                these different services in multiple containers? How do we
                make sure we have the right number of each? How do we make 
                sure some vital service hasn't gone down?
            </p>

            <p>
                The most common answer today is
                <span class="hilight">Kubernetes</span>.
                Kubernetes acts as an orchestrator of a number of inter-related
                Docker containers. (The name is from the Greek word for 
                "captain.") The basic unit in Kubernetes is called a
                <span class="hilight">pod</span>: a number of Docker containers
                co-located on a server. Some number of pods can provide a
                <span class="hilight">service</span> (such as search or
                payment authorization), so that the load can be balanced among
                the pods, and if one pod goes down, the service can just use
                the other pods. An organized group of pods is called a
                <span class="hilight">cluster</span>.
            </p>

            <figure>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/QJ4fODH6DXI"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <figcaption>
                    Kubernetes in Nine Minutes
                </figcaption>
            </figure>

            <figure>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Pod-networking.png/700px-Pod-networking.png">
                <figcaption>
                    Containers, pods, and services in a Kubernetes cluster.
                </figcaption>
            </figure>

            <p>
                From IBM:
                <a href="https://www.ibm.com/blogs/bluemix/2018/10/kubernetes-vs-docker-its-not-an-either-or-question/">
                Kubernetes and Docker: It's not "either/or".
                </a>
            </p>
        </details>

        <details>
            <summary class="sum1">
                Lesson 4: Cloud Providers
            </summary>

            <p>
                Major cloud providers include:
            </p>


                <ul class="nested">
                    <li>
                        <span class="hilight">
                            Amazon Web Services
                        </span>
                        <br />
                        The most complete cloud environment.
                    </li>

                    <li>
                        <span class="hilight">
                        Google Cloud Platform
                        </span>
                        <br />
                        A strong focus on AI.
                    </li>

                    <li>
                        <span class="hilight">
                        Microsoft Azure
                        </span>
                        <br />
                        Good on enterprise integration.
                    </li>

                    <li>
                        <span class="hilight">
                        Digital Ocean
                        </span>
                    </li>

                    <li>
                        <span class="hilight">
                        IBM Cloud
                        </span>
                    </li>

                </ul>

                <p>
                    Some comparisons of cloud providers:
                </p>

                <ul class="nested">
                    <li>
                        <a href="https://www.datamation.com/cloud-computing/aws-vs-azure-vs-google-cloud-comparison.html">
                            AWS vs. Azure vs. Google
                        </a>
                    </li>

                </ul>

        </details>

        <details>
            <summary class="sum1">
                Other Readings
            </summary>

            <ul class="nested">
               <li>
                    <a href="https://devops.com/kubernetes-universal-cloud-infrastructure/">
                            Kubernetes as universal cloud infrastructure
                    </a>
                </li>

                <li>
                    <a href="https://www.rackspace.com/en-us/cloud/public">
                        Public cloud comparison
                    </a>
                </li>

                <li>
                    <a href="https://devops.com/devopspro-tips-on-cloud-management/">
                        Pro Tips on Cloud Management
                    </a>
                </li>

                <li>
                    <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/website-hosting-custom-domain-walkthrough.html">
                        AWS Guide on how to host a custom domain website on S3
                    </a>
                </li>

            </ul>

        </details>

        {% include 'quiz.html' %}

{% endblock content %}
