{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Cloud Deployment
        </h1>

        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Cumulus_clouds_panorama.jpg/880px-Cumulus_clouds_panorama.jpg"
            width="30%"
            class="zoom"
            >
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
        </p>

        <details>
            <summary class="sum1">
                Lesson 1: Heroku
            </summary>

            <figure>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/QTOkqzCTGxw"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <figcaption>
                    Introduction to Heroku
                </figcaption>
            </figure>

        </details>

        <details>
            <summary class="sum1">
                Lesson 2: Kubernetes and Docker
            </summary>

            <p>
                From IBM:
                <a href="https://www.ibm.com/blogs/bluemix/2018/10/kubernetes-vs-docker-its-not-an-either-or-question/">
                Kubernetes and Docker: It's not "either/or".
                </a>
            </p>
        </details>

        <details>
            <summary class="sum1">
                Lesson 3: Cloud Providers
            </summary>

            <p>
                Major cloud providers include:
            </p>


                <ul class="nested">
                    <li>
                        <span class=hilight">
                            Amazon Web Services
                        </span>
                        <br />
                        The most complete cloud environment.
                    </li>

                    <li>
                        <span class=hilight">
                        Google Cloud Platform
                        </span>
                        <br />
                        A strong focus on AI.
                    </li>

                    <li>
                        <span class=hilight">
                        Microsoft Azure
                        </span>
                        <br />
                        Good on enterprise integration.
                    </li>

                    <li>
                        <span class=hilight">
                        Digital Ocean
                        </span>
                    </li>

                    <li>
                        <span class=hilight">
                        IBM Cloud
                        </span>
                    </li>

                </ul>

                <p>
                    Some comparisons of cloud providers:
                </p>

                <ul class="nested">
                    <li>
                        <a href="https://www.datamation.com/cloud-computing/aws-vs-azure-vs-google-cloud-comparison.html">
                            AWS vs. Azure vs. Google
                        </a>
                    </li>

                </ul>

        </details>

        <details>
            <summary class="sum1">
                Other Readings
            </summary>

            <ul class="nested">
               <li>
                    <a href="https://devops.com/kubernetes-universal-cloud-infrastructure/">
                            Kubernetes as universal cloud infrastructure
                    </a>
                </li>

                <li>
                    <a href="https://www.rackspace.com/en-us/cloud/public">
                        Public cloud comparison
                    </a>
                </li>

                <li>
                    <a href="https://devops.com/devopspro-tips-on-cloud-management/">
                        Pro Tips on Cloud Management
                    </a>
                </li>

                <li>
                    <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/website-hosting-custom-domain-walkthrough.html">
                        AWS Guide on how to host a custom domain website on S3
                    </a>
                </li>

            </ul>

        </details>

        {% include 'quiz.html' %}

{% endblock content %}
