{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Communication
        </h1>

        <figure>
            <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Communication_shannon-weaver2.svg/560px-Communication_shannon-weaver2.svg.png"
            width="24%">
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
            "The most efficient and effective method of conveying information
            to and within a development team is face-to-face conversation."
        </p>

{% endblock content %}
