{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Cooperation and Communication
        </h1>

        <figure>
            <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Communication_shannon-weaver2.svg/560px-Communication_shannon-weaver2.svg.png"
            width="24%"
            class="zoom"
            >
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
            "The most efficient and effective method of conveying information
            to and within a development team is face-to-face conversation."
            -- The Agile Manifesto
        </p>

        <details>
            <summary class="sum1">
                Lesson 1: Release it!
            </summary>

            <figure>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5UBdrMTxsvs"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
                <figcaption>
                    Communication is <i>very</i> important.
                </figcaption>
            </figure>

            <p>
                For lesson 1, please read:
                <br />
                <a href="https://www.ibm.com/developerworks/java/library/a-devops1/">
                    The flattening of the software release process
                </a>
            </p>


        </details>

        <details>
            <summary class="sum1">
                Lesson 2: Breaking down silos
            </summary>

            <p>
                For lesson 2, please read:
                <br />
                <a href="https://www.ibm.com/developerworks/library/a-devops9/index.html">
                    Breaking down silos
                </a>
            </p>

        </details>

        <details>
            <summary class="sum1">
                Lesson 3: Using Slack
            </summary>

            <p>
                For lesson 3, please go through these Slack guides:
                <ul class="nested">
                    <li>
                    <a href="https://slack.com/features">
                        Slack features
                    </a>
                    </li>

                    <li>
                    <a href="https://get.slack.help/hc/en-us/articles/218080037-Getting-started-for-new-members">
                        Getting started with Slack
                    </a>
                    </li>

                    <li>
                    <a href="https://get.slack.help/hc/en-us/categories/200111606">
                        Using Slack
                    </a>
                    </li>
                </ul>
            </p>

        </details>

        <details>
            <summary class="sum1">
                Other Readings
            </summary>

            <ul class="nested">
                <li>
                    <a href="http://www.stroustrup.com/software.pdf">
                    Bjarne Stroustrup on CS education
                    </a>
                </li>
            </ul>

        </details>


        {% include 'quiz.html' %}


{% endblock content %}
