                <ul class="nested">
                    <li>
                    <span class="hilight" id="Agile_Development">Agile Development</span>: A method of developing software featuring frequent releases, adaptability to change, and close collaboration with customers.<br />
{% include 'Agile_Development.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Anti-Pattern">Anti-Pattern</span>: A set of characteristics of some code structure or development practice that have been found to be common and harmful.<br />
{% include 'Anti-Pattern.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Automated_Testing">Automated Testing</span>: Testing through scripts rather than 'by hand.'<br />
{% include 'Automated_Testing.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Azure_DevOps">Azure DevOps</span>: Microsoft's end-to-end DevOps solution.<br />
{% include 'Azure_DevOps.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Containerization">Containerization</span>: The process of packaging an application and everything it depends upon in a 'container,' then running it in its own virtual environment.<br />
{% include 'Containerization.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Continuous_Integration">Continuous Integration</span>: (CI) The process of integrating different developers' work with high regularity.<br />
{% include 'Continuous_Integration.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Continuous_Deployment">Continuous Deployment</span>: (CD) Regularly deploying new work into production, usually with every push to the master branch on the origin source-code control server.<br />
{% include 'Continuous_Deployment.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Docker">Docker</span>: The most popular tool for <i>containerizing</i> applications.<br />
{% include 'Docker.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="DockerHub">DockerHub</span>: A site hosting publically available Docker images.<br />
{% include 'DockerHub.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="git">git</span>: Today's most popular version control system.<br />
{% include 'git.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="GitHub">GitHub</span>: A site hosting git repositories.<br />
{% include 'GitHub.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="image">image</span>: The static version of a Docker container: we run the image to get a container.<br />
{% include 'image.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Infrastructure-as-Code">Infrastructure-as-Code</span>: (IAC) Using code to set up and provision servers, network connections, and so on.<br />
{% include 'Infrastructure-as-Code.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Jenkins">Jenkins</span>: A CI/CD tool that automates building and testing a product.<br />
{% include 'Jenkins.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Kanban">Kanban</span>: A tool for controlling <i>work-in-progress</i> and making visible who is working on what tasks.<br />
{% include 'Kanban.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Kubernetes">Kubernetes</span>: An open-source tool for orchestrating containers.<br />
{% include 'Kubernetes.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Lean_Development">Lean Development</span>: Similar to Agile Development; strong inheritance from Toyota Production Systems<br />
{% include 'Lean_Development.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="linting">linting</span>: Cleaning up source code by running a 'lint' tool that catches common coding errors.<br />
{% include 'linting.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="make">make</span>: A venerable tool for automating builds.<br />
{% include 'make.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Microservices">Microservices</span>: Tiny applications that do a single job, like authentication or scheduling deliveries.<br />
{% include 'Microservices.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Monitoring">Monitoring</span>: Software that 'watches' an application and sends out alerts at signs of trouble.<br />
{% include 'Monitoring.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Pattern">Pattern</span>: A set of characteristics of some code structure or development practice that have been found to be common and beneficial.<br />
{% include 'Pattern.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="repository">repository</span>: The 'database' of a version control system.<br />
{% include 'repository.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Slack">Slack</span>: A popular tool for communication in development teams; also, the 'empty' periods that are necessary in a schedule for anyone to do creative work.<br />
{% include 'Slack.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="StatusCake">StatusCake</span>: The monitoring software we are using in our course.<br />
{% include 'StatusCake.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Test-Driven_Development">Test-Driven Development</span>: A method of developing software that writes tests for a new feature first, then writes the feature.<br />
{% include 'Test-Driven_Development.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Toyota_Production_Systems">Toyota Production Systems</span>: (TPS) A lean manufacturing system put in place at Toyota in the 1960s, featuring flexible production and employee empowerment.<br />
{% include 'Toyota_Production_Systems.txt' %}
                    </li>
                    <li>
                    <span class="hilight" id="Version_Control">Version Control</span>: A tool that allows users to keep multiple versions of a file, revert to earlier versions, compare versions, and so on.<br />
{% include 'Version_Control.txt' %}
                    </li>
                </ul>

