                <ol class="nested">
                    <li>
                    <a name=Microservices><span class="hilight">Microservices</span>:</a> Tiny applications that do a single job, like authentication or scheduling deliveries.
                    </li>
                    <li>
                    <a name=Kanban><span class="hilight">Kanban</span>:</a> A tool for controlling <i>work-in-progress</i> and making visible who is working on what tasks.
                    </li>
                    <li>
                    <a name=Monitoring><span class="hilight">Monitoring</span>:</a> Software that "watches" an application and sends out alerts at signs of trouble.
                    </li>
                    <li>
                    <a name=Kubernetes><span class="hilight">Kubernetes</span>:</a> An open-source tool for orchestrating containers.
                    </li>
                    <li>
                    <a name=Agile Development><span class="hilight">Agile Development</span>:</a> A method of developing software featuring frequent releases, adaptability to change, and close collaboration with customers.
                    </li>
                    <li>
                    <a name=make><span class="hilight">make</span>:</a> A venerable tool for automating builds.
                    </li>
                    <li>
                    <a name=Test-Driven Development><span class="hilight">Test-Driven Development</span>:</a> A method of developing software that writes tests for a new feature first, then writes the feature.
                    </li>
                    <li>
                    <a name=Continuous Deployment (CD)><span class="hilight">Continuous Deployment (CD)</span>:</a> Regularly deploying new work into production, usually with every push to the master branch on the origin source-code control server.
                    </li>
                    <li>
                    <a name=Containerization><span class="hilight">Containerization</span>:</a> The process of packaging an application and everything it depends upon in a "container," then running it in its own virtual environment.
                    </li>
                    <li>
                    <a name=Docker><span class="hilight">Docker</span>:</a> The most popular tool for <i>containerizing</i> applications.
                    </li>
                    <li>
                    <a name=Version Control><span class="hilight">Version Control</span>:</a> A tool that allows users to keep multiple versions of a file, revert to earlier versions, compare versions, and so on.
                    </li>
                    <li>
                    <a name=Slack><span class="hilight">Slack</span>:</a> A popular tool for communication in development teams; also, the "empty" periods that are necessary in a schedule for anyone to do creative work.
                    </li>
                    <li>
                    <a name=Continuous Integration (CI)><span class="hilight">Continuous Integration (CI)</span>:</a> The process of integrating different developers' work with high regularity.
                    </li>
                </ol>

