                <ol class="nested">
                    <li>
                    <a name=DRY><span class="hilight">DRY</span>: </a>Don't repeat yourself: everything in the system should have a single source.
                    </li>
                    <li>
                    <a name=repo><span class="hilight">repo</span>: </a>The repository in a source code control system.
                    </li>
                    <li>
                    <a name=Regression testing><span class="hilight">Regression testing</span>: </a>Re-running previous tests to see if previously tested software still works.
                    </li>
                    <li>
                    <a name=DevOps><span class="hilight">DevOps</span>: </a>Development and operations collaborating to enable rapid and incremental delivery of working software.
                    </li>
                    <li>
                    <a name=Django><span class="hilight">Django</span>: </a>A web backend programmable in Python.
                    </li>
                </ol>

