{% extends 'base.html' %}
{%  load staticfiles %}

{% block title %}Quiz Evaluation{% endblock %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Here are your quiz results</h1>
      <p class="lead text-center" style="font-weight: bold;font-size:1.5rem;"> {{ quiz_name }}</p>

    </div>


    {% for graded_answer in graded_answers %}
       <ul class="list-group text-center" style="font-size:1rem;padding:0;">
          <li class="list-group-item active">{{ graded_answer.question }}</li>
          <li class="list-group-item"><i class="material-icons" style="font-size:36px">verified_user</i> Correct answer {{ graded_answer.correctAnswer }}.{{ graded_answer.correctAnswerText }} <i class="material-icons" style="font-size:36px">verified_user</i></li>
          <li class="list-group-item">You answer {{ graded_answer.yourAnswer }}.{{ graded_answer.yourAnswerText }}</li>
            {% if graded_answer.message == "Sorry, that's incorrect!" %}
             <li class="list-group-item list-group-item-danger ">  {{ graded_answer.message }}</li>



              {% else %}
               <li class="list-group-item list-group-item-success">  {{ graded_answer.message }}</li>
              {% endif %}



        </ul>

    {% endfor %}

    <ul class="list-group text-center" style="font-size:1rem;padding:0;">
      <li class="list-group-item list-group-item-primary text-right">You have correctly answered {{num_ques_correct}} out of {{ num_ques }} questions!</li>
      <li class="list-group-item list-group-item-success text-right">Giving you a score of {{ num_ques_correct_percentage }}%</li>
      <li class="list-group-item text-right"> <a href="{% url 'devops:index' %}" class="btn btn-success btn-xl" style="text-decoration: none;color:white;">Back to the Main</a></li>


    </ul>



{% endblock %}
