{% extends 'base.html' %}
{%  load staticfiles %}

{% block title %}Quiz Evaluation{% endblock %}

{% block content %}
    <h2>{{ quiz_name }} - Here are your quiz results</h2>
    {% for graded_answer in graded_answers %}
        <div>
            <h4>{{ graded_answer.question }}</h4>
            <p>Correct answer was {{ graded_answer.correctAnswer }}: {{ graded_answer.correctAnswerText }}</p>
	    {% if 'incorrect' in graded_answer.message %}
                <p><font color='red'>**You answered {{ graded_answer.yourAnswer }}: {{ graded_answer.yourAnswerText }}**</font></p>
            {% else %}
                <p>**You answered {{ graded_answer.yourAnswer }}: {{ graded_answer.yourAnswerText }}**</p>
	    {% endif %}
        </div>
    {% endfor %}

     <p>
        <br>
        You have correctly answered {{num_ques_correct}} out of {{ num_ques }} questions giving you a score of {{ num_ques_correct_percentage }}%!
    </p>

    <p>
        <a href="{% url 'devops:index' %}">Back to the Main</a>
    </p>
{% endblock %}
