{% extends 'base.html' %}
{%  load staticfiles %}

{% block title %}Quiz Evaluation{% endblock %}

{% block content %}
    <h1>{{ quiz_name }} - Here are your quiz results</h1>
    <ol class="nested">
        {% for graded_answer in graded_answers %}
            <li style="color: #aaf"> 
                {{ graded_answer.question }} 
            </li>
            <p>
                {{ graded_answer.message }}
                The correct answer is: <br/>
                {{ graded_answer.correctAnswer}}) {{ graded_answer.correctAnswerText }}.
            </p>
            {% if graded_answer.status == 'wrong' %}
                <p class="errors">
                    You answered: <br/> {{ graded_answer.yourAnswer}}) {{ graded_answer.yourAnswerText }}.
                </p>
            {% endif %}
        {% endfor %}
    </ol>
    <p>
        <br>
         <span>You have correctly answered {{num_ques_correct}} out of {{ num_ques }} questions giving you a score of {{ num_ques_correct_percentage }}%!</span>
    </p>

    <p>
        {% if navigate_links.previous %}
            <a href={% url navigate_links.previous %}>
                We suggest you repeat this module
            </a>
            <br/>
        {% endif %}
        {% if navigate_links.next %}
            <a href={% url navigate_links.next %}>
                Continue onto next module
            </a>
            <br/>
        {% else %}
            <a href="/">
                Go to home page
            </a>
            <br/>
        {% endif %}
    </p>
{% endblock %}
