<html>
    <head>
<script src="/static/devops/js/show_searchbar.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
<script>
    $.support.cors = true;
</script>
    <script>
        window.onload = getlink;
        function getlink()
        {
            $.ajax({
                type: "GET",
                crossDomain: true,

                headers:
                {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                async :false,
                url: "https://cors.io/?https://bit.ly/2TJTW3e",
                // url : https://cors.io/?http://devops.com/feed
                dataType: "xml",
                success: function(xml) {
                var links= [];
                var descriptions = [];
                var linkt = [];
                var imageLins = [];
                var cnt= 0;
                $(xml).find('item').each(function()
                {
                    var content = $(this).find('description').text();
                    var linktitle = $(this).find('title').text();
                    if (content.includes("src"))
                    {
                        var a = content.split(" ")[3];
                        var b = "<img " +a+"/>";
                        var link1 = a.split("=")[1];
                        links.push(link1);
                        var des =  content.match("<p>(.*)</p>")[1];
                        var link = content.match("<a(.*)</a>");
                        var des= des +"<br>" +"<a " +link[0];
                        descriptions.push(des);
                        linkt.push(linktitle);
                        var cnt =0 ;
                        var imagel = ((link[0].match("href=(.*)/\"")[0]).split("=")[1]).split("\"")[1];
                        imageLins.push(imagel);
                        slider1(links,descriptions,linkt,cnt,imageLins)
                    }
                });
            },
            error: function(errorThrown)
            {
                document.getElementById('sliderHeader').innerHTML= "Refresh page to load the RSS feed";
            },
            });
        }

        function slider1(links,descriptions,linkt,cnt,imageLins)
        {

            var timerId = setTimeout(function tick() {
              if(cnt >= links.length) {
                    cnt = 0;
                }
              document.getElementById('image1').src= links[cnt].split("\"")[1];
              document.getElementById('sliderHeader').innerHTML= linkt[cnt];  //or append?
              document.getElementById('sliderPara').innerHTML= descriptions[cnt];
              document.getElementById('imageLink').href= imageLins[cnt];
              cnt++;
              timerId = setTimeout(tick, 15000);
            }, 1000);
        }


    </script>
    </head>
</html>