{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Incremental Development
        </h1>

        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Iterative_development_model.svg/600px-Iterative_development_model.svg.png"
            width="24%">
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
            "Deliver software frequently..." -- The Agile Manifesto
        </p>

        <details>
            <summary class="sum1">
                Lesson 1: Why incremental?
            </summary>

            <figure>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/wETeJJnE6-o"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
                <figcaption>
                    "He pushed another commit!"
                </figcaption>
            </figure>

            <p>
                Why do incremental development?
            </p>

            <ul class="nested">
                <li>
                    Small batches of work make testing easier.
                </li>

                <li>
                    Small batches make it easier to find a bug when you have
                    one.
                </li>

                <li>
                    Small batches enable rapid feedback from the users on
                    whether the software is delivering what they want.
                </li>

                <li>
                    Small batches allow us to deliver value to the user more
                    rapidly.
                </li>

                <li>
                    Small batches are more satisfying to the developers, 
                    because they get to see their software being used soon 
                    after they write it.
                </li>
            </ul>

            <p>
                Completing and delivering small batches of work at a time is
                such an important part of DevOps that we could almost say that
                every other part of DevOps exists to enable
                <i>frequent, reliable</i>
                delivery of small improvements to a piece of software.
            </p>

            <p>
                In older models of software development, it was thought that
                rapid delivery of software to users meant buggy systems that 
                crashed a lot.
            </p>

        </details>

        <details>
            <summary class="sum1">
                Lesson 2: Version control everything
            </summary>

            <p>
                For lesson 2, please read:
                <br />
                <a href="https://www.ibm.com/developerworks/java/library/a-devops6/">
                    Version control everything
                </a>
            </p>

        </details>

        <details>
            <summary class="sum1">
                Lesson 3
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Other Readings
            </summary>

            <ul class="nested">

                <li>
                    <a href="https://dzone.com/articles/fail-fast-principle-in-software-development">
                        Fail fast!
                    </a>
                </li>

            </ul>

        </details>


        {% include 'quiz.html' %}

{% endblock content %}
