{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Incremental Development
        </h1>

        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Iterative_development_model.svg/600px-Iterative_development_model.svg.png"
            width="24%">
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
            "Deliver software frequently..." -- The Agile Manifesto
        </p>

{% endblock content %}
