{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Incremental Development
        </h1>

        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Iterative_development_model.svg/600px-Iterative_development_model.svg.png"
            width="24%">
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
            "Deliver software frequently..." -- The Agile Manifesto
        </p>

        <details>
            <summary class="sum1">
                Lesson 1: Why incremental?
            </summary>

            <figure>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/wETeJJnE6-o"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
                <figcaption>
                    "He pushed another commit!"
                </figcaption>
            </figure>

            <p>
                Why do incremental development?
            </p>

            <ul class="nested">
                <li>
                    Small batches of work make testing easier.
                </li>

                <li>
                    Small batches make it easier to find a bug when you have
                    one.
                </li>

                <li>
                    Small batches enable rapid feedback from the users on
                    whether the software is delivering what they want.
                </li>

                <li>
                    Small batches allow us to deliver value to the user more
                    rapidly.
                </li>

                <li>
                    Small batches are more satisfying to the developers, 
                    because they get to see their software being used soon 
                    after they write it.
                </li>
            </ul>

            <p>
                Completing and delivering small batches of work at a time is
                such an important part of DevOps that we could almost say that
                every other part of DevOps exists to enable
                <i>frequent, reliable</i>
                delivery of small improvements to a piece of software.
            </p>

            <p>
                In older models of software development, it was thought that
                rapid delivery of software to users meant buggy systems that 
                crashed a lot.
            </p>

            <p>
                To complete this section, please read
                <a href="https://en.wikipedia.org/wiki/Iterative_and_incremental_development">
                    Iterative and incremental development
                </a>
            </p>

        </details>

        <details>
            <summary class="sum1">
                Lesson 2: Version control everything
            </summary>

            <p>
                <i>Version control</i> is the name for tools that allow
                the storing of different versions of project files, and the
                ability to revert to an earlier version (for instance, when a
                bug is found in the new version).
                There are a variety of version control systems in existence,
                such as <code>RCS</code>, <code>SCCS</code>,
                <code>Suberversion</code>, <code>CVS</code>,
                and <code>git</code>.
                You should study the page on version control
                <a
                    href="https://en.wikipedia.org/wiki/Version_control">here</a>.
            </p>

            <p>
                For the rest of lesson 2, please read:
                <br />
                <a href="https://www.ibm.com/developerworks/java/library/a-devops6/">
                    Version control everything
                </a>
            </p>

        </details>

        <details>
            <summary class="sum1">
                Lesson 3: git and GitHub
            </summary>

            <p>
                First things first: don't confuse <code>git</code> with
                GitHub! <code>git</code> is a system for creating and updating
                a distributed source code control
                <a href="gloss/">repository</a>. It includes features
                for adding new files, updating files, deleting files or
                versions from the repository, branching, resolving 
                version conflicts, and reverting to earlier versions.
            </p>

            <p>
                GitHub, on the other hand, is a web site that allows for free
                storage of public repositories ("repos" for short).
                It is not necessary to use GitHub in order to use
                <code>git</code>: some companies have a "origin" repo they keep
                internally, while other people use other public sites, such as
                <a href="https://bitbucket.org">BitBucket</a>,
                to hold the origin version of their repo. (We, in fact, will
                explore moving to BitBucket during our course.)
            </p>

            <details>
            <summary class="sum2">
                Basic git
            </summary>

            <p>
                You will only need a small number of <code>git</code> commands
                for most of our work.
                (You can also use <code>git</code> from 
                GitHub Desktop, but it is good to be at least a little
                familiar with command line usage.)
                In particular, you need to know:
            </p>

            <ul class="nested">
                <li>
                    <code>git clone
                        https://github.com/gcallah/OnlineDevops.git
                    </code>
                    <br />
                    This makes a local copy of a repo from an online
                    copy. The online copy becomes the <i>origin</i>
                    repo for the local copy.
                </li>

                <li>
                    <code>git add &lt;filename&gt;</code>
                    <br />
                    Adds &lt;filename&gt; to the repo.
                </li>

                <li>
                    <code>git commit &lt;filename&gt; -m "Message"</code>
                    <br />
                    Commits changes to &lt;filename&gt; into the repo,
                    labeled with "Message".
                    <br />
                    <span class="hilight">Note</span>: Commit messages
                    are important! They let your teammates know why a
                    new version of the file has been created.
                </li>

                <li>
                    <code>git push origin master</code>
                    <br />
                    This pushes the master branch of your code to the origin
                    repo. (Some projects create multiple branches: following
                    the guidelines for <i>continuous delivery</i>, we will not
                    be doing that.) You run this when you are ready to share
                    your work with your team: that should happen frequently!
                    Several pushes per hour is not unusual.
                </li>

                <li>
                    <code>git pull origin master</code>
                    <br />
                    This is how you refresh your local repo with the work
                    others have been doing. You should certainly do this to
                    start your work day, and if you know others are working at
                    the same time, perhaps more often.
                </li>

                <li>
                    <code>git rm &lt;filename&gt; </code>
                    <br />
                    This removes &lt;filename&gt; from the repo
                    <i>and</i> your local file system. You should always 
                    delete files through <code>git</code> and not using your
                    native OS's capabilities.
                </li>

                <li>
                    <code>git mv &lt;old_filename&gt;
                        &lt;new_filename&gt;</code>
                    <br />
                    This renames &lt;old_filename&gt; to &lt;new_filename&gt;.
                    You should always 
                    rename files through <code>git</code> and not using your
                    native OS's capabilities.
                </li>

                <li>
                    <code>git status</code>
                    <br />
                    This shows you the current state of your repo.
                </li>

                <li>
                    <code>git branch &lt;branchname&gt; </code>
                    <br />
                    This will create a new branch with &lt;branchname&gt;.
                    As mentioned above, our projects generally discourage
                    branching as an anti-CI pattern.
                </li>

                <li>
                    <code>git checkout &lt;branchname&gt; </code>
                    <br />
                    This will set your working branch to &lt;branchname&gt;.
                </li>

                <li>
                    <code>git merge &lt;branchname&gt; </code>
                    <br />
                    This will merge &lt;branchname&gt;
                    into the current branch. Therefore, use
                    <code>git status</code> to make sure you are on the branch 
                    into which you want to merge before you do
                    the merge.
                </li>
            </ul>

            <p>
                Some files to know about:
            </p>

            <ul class="nested">
                <li>
                    <code>.git</code> is the actual repository: the other files
                    you see are working copies of the latest version in the
                    repo.
                </li>

                <li>
                    <code>.gitignore</code> list the various types of files
                    you <i>don't</i> want in the repo.
                    <br />
                    <a href="https://github.com/gcallah/Emu86/blob/master/.gitignore">
                        A sample git ignore file</a>.
                </li>
            </ul>

            <p>
                <code>git</code> is a <i>distributed</i> version control
                system. This is important to understand for a couple of
                reasons:
            </p>

            <ol class="nested">
                <li>
                    Using <code>git</code> one can work entirely offline,
                    and continue checking code into the repo: each person
                    who has cloned the repo has a full copy of it.
                    Whenever you get back online, you can resync.
                </li>

                <li>
                    Understanding many of the problems one will hit while
                    using <code>git</code> is easier knowing this: typically, 
                    problems arise when to copies of the repo get out
                    of sync, and <code>git</code> has trouble re-syncing
                    them.
                </li>
            </ol>
            </details>

            <details>
            <summary class="sum2">
                Resolving conflicts
            </summary>

            <p>
                So what to do if your copy of the repo is out of date with the
                origin copy? Here are some things to look at:
            </p>

            <ul class="nested">
                <li>
                    Sometimes, the problem is simply that you haven't done 
                    a <code>git pull</code> recently enough: try the pull command
                    above, and see if that clears up your problem.
                </li>

                <li>
                    But maybe you and someone else have actually been working
                    on the same file at the same time? <code>git</code> does
                    a pretty good job of trying to resolve this: if you have
                    obviously been working on different parts of the file,
                    <code>git</code> can often merge your changes correctly,
                    without human intervention. But if <code>git</code>
                    can't do this, it will produce a marked-up file for you to
                    merge by hand. The file will contain lines like:
                    <pre>
                    <code>
                        &lt;&lt;&lt;&lt;&lt; HEAD:file.txt
                        Hello world
                        =======
                        Goodbye
                        &gt;&gt;&gt;&gt;&gt; 77976da35a11db4580b80ae27e8d65caf5208086:file.txt
                    </code>
                    </pre>
                    <br />
                    Your job then is to choose whether you want "Hello world"
                    or "Goodbye" in the file, and delete the one you don't
                    want, as well as deleting those weird lines
                    <code>git</code> added.
                </li>

                <li>
                    Finally, you may have a situation where you realize
                    you were just "messing around" and don't want to retain any
                    of what you wrote. (In that case, a branch would have 
                    been useful!) You can sometimes fix that up by letting 
                    <code>git</code> know you want it to ignore your work:
                    <br />
                    <code>git checkout --theirs &lt;filename&gt; </code>
                    <br />
                    <code>git add &lt;filename&gt; </code>
                    <br />
                    After that, you can perform a comit and a push as
                    above.
                    This will cause <code>git</code> to ignore your changes
                    and just use "theirs": the one's in the origin repo.
                </li>

            </ul>
            </details>

            <details>
            <summary class="sum2">
                Submodules
            </summary>

            <p>
                The final aspect of <code>git</code> we will discuss
                here is submodules. They are a method of incorporating
                one repo within another one. A good example of the use
                of a submodule is our <code>utils</code> repo: it contains
                various programs that are useful in multiple projects.
                We don't want to have different copies of these programs:
                that violates DRY!
                So what we do is to share that repo among several repos 
                by including it as a submodule.
            </p>

            <p>
                Submodules are useful, but <code>git</code>'s implementation
                of them is... tricky. First of all, a repo's submodules do not
                update automatically! This is sensible, because the submodule
                might be someone else's code, and you don't want a new version
                to break your program. So you have to <code>cd</code> 
                to the submodule directory, and do a pull there to update it.
            </p>

            <p>
                First, let's add a submodule: we will add 
                the <code>utils</code> repo we use in all of our projects as
                a submodule in our practice repo. The first thing to do 
                is to add it:
                <br />
                <code>git submodule add https://github.com/gcallah/utils.git</code>
                <br />
                (The presenter will do this step for the class, since we can
                only add a submodule once per repo!)
                <br />
                This will create a new file called <code>.gitmodules</code> 
                and a new dir called <code>utils</code>.
                These store the information about
                the submodule we have added <i>in the repo</i>.
                <code>utils</code> will store the information on where the
                files in this submodule come from.
            </p>

            <p>
                Now we need to see how to clone a repo that has a submodule
                and make things work properly. After you clone a repo with a
                submodule, you will see that you have a directory for the
                submodule, but that it is empty. You need to do two more steps:
                <br />
                <code>git submodule init</code>
                <br />
                will initialize your local configuration files to "know"
                about the submodule. And:
                <br />
                <code>git submodule update</code>
                <br />
                Will fill the submodule directory with the proper files.
            </p>

            <p>
                From that point on, it is important to note that the
                submodule will <i>not</i> update automatically when
                you do a pull. Given that the submodule might be third party 
                software, we don't want a new version that might break
                our code automatically joining our repo! Thus, when 
                you need the new version of a submodule in a repo, you have
                to explicitly run an update. We are working to automatically
                include such an update in our build files, where appropriate.
            </p>

            <p>
                Submodules sometimes get so seriously out of
                sync with the origin repo of the submodule that the only
                solution is to delete the submodule and re-add it. That process
                is described
                <a
                href="https://stackoverflow.com/questions/1260748/how-do-i-remove-a-submodule">here</a>.
                (After deleting it, you simply re-add it with the normal
                steps.)
            </p>
            </details>

        </details>

        <details>
            <summary class="sum1">
                Other Readings
            </summary>

            <ul class="nested">

                <li>
                    <a href="https://dzone.com/articles/fail-fast-principle-in-software-development">
                        Fail fast!
                    </a>
                </li>

                <li>
                    <a href="https://git-scm.com/book/en/v2/Git-Tools-Submodules">
                        Git submodules
                    </a>
                </li>

            </ul>

        </details>


        {% include 'quiz.html' %}

{% endblock content %}
