{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            The DevOps Course: Modules
        </h1>

        <figure>
            <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Devops-toolchain.svg/220px-Devops-toolchain.svg.png">
            <figcaption>
                The DevOps toolchain
            </figcaption>
        </figure>

        <p class="leadquote">
            Here are the top-level modules for our DevOps course:
        </p>

        <ol class="nested" style="text-align: center;">
          <li>
              <a href="/devops/basics">
                Programming Fundamentals
                </a></li>
          <li>
               <a href="/devops/work">
                The DevOps Way of Work
                </a>
          </li>
          <li>
               <a href="/devops/comm">
                Cooperation and Communication (Tool: Slack)
                </a>
          </li>
          <li>
               <a href="/devops/incr">
                Incremental Development (Tool: git)
                </a>
          </li>
          <li> <a href="/devops/build">
                Automating Builds (Tool: make)
                </a></li>
         <li>
              <a href="/devops/flow">
                Workflow (Tool: kanban boards)
                </a>
         </li>

         <li>
              <a href="/devops/flow">
             Automated Testing (Tool: Jenkins)
                </a>
         </li>

         <li>
              <a href="/devops/flow">
                 Software as Infrastructure (Tool: Docker)
                </a>
         </li>

         <li>
              <a href="/devops/flow">
                 Cloud Deployment (Tool: Kubernetes)
                </a>
         </li>

         <li>
              <a href="/devops/flow">
                    Microservices and Severless Computing
                </a>
         </li>

         <li>
              <a href="/devops/flow">
                   Monitoring (Tool: StatusCake)
                </a>
         </li>

             <li>
                <a href="/devops/secur">
                Security
                </a>
            </li>


            <li>
                <a href="/devops/secur">
                Security
                </a>
            </li>

             <li>
                <a href="/devops/sum">
                Summing Up
                </a>
            </li>

        </ol>






















{% endblock content %}
