{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
     <div class="row">


        <div class="col-sm-5">


            <figure style="margin-top:40%;">
                <img
                src="/static/devops/devops_inter.jpg" style="width:60%;">
                <figcaption>
                    <h3>The DevOps toolchain</h3>
                </figcaption>
            </figure>

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                {%  if SliderSlides %}
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                {% endif %}

              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <a href="{{ activeSlidePicsLink }}" target="_blank">
                        <img class="d-block w-100" src="{{ activeImageSlideSource }}">
                      </a>
                  </div>


              {%  if not SliderSlides %}
                  {% for s in SliderSlides %}
                    <div class="carousel-item">
                        <a href="{{ s.img }}" target="_blank">
                            <img class="d-block w-100" src="{{ s.link }}">
                        </a>
                    </div>
                  {% endfor %}
              {% endif %}
              </div>

              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

        </div>

         <div class="col-sm-7">
              <h1 class="toc_head">
              Course Modules
              </h1>
         <ol>

          <li>
              <a href="/devops/basics">
                Programming Fundamentals
              </a>
          </li>

          <li>
               <a href="/devops/work">
                The DevOps Way of Work
                </a>
          </li>

          <li>
               <a href="/devops/comm">
                Cooperation and Communication (Tool: Slack)
                </a>
          </li>

          <li>
               <a href="/devops/incr">
                Incremental Development (Tool: git)
                </a>
          </li>

          <li> <a href="/devops/build">
                Automating Builds (Tool: make)
                </a>
          </li>

         <li>
              <a href="/devops/flow">
                Workflow (Tool: kanban boards)
              </a>
         </li>

         <li>
              <a href="/devops/test">
                  Automated Testing (Tool: Jenkins)
              </a>
         </li>

         <li>
              <a href="/devops/infra">
                 Infrastructure as Code (Tool: Docker)
              </a>
         </li>

         <li>
              <a href="/devops/cloud">
                 Cloud Deployment (Tool: Kubernetes)
              </a>
         </li>

         <li>
              <a href="/devops/micro">
                    Microservices and Severless Computing
              </a>
         </li>

         <li>
              <a href="/devops/monit">
                   Monitoring (Tool: StatusCake)
              </a>
         </li>

            <li>
                <a href="/devops/secur">
                Security (Tool: in-toto)
                </a>
            </li>

             <li>
                <a href="/devops/suite">
                Complete DevOps Operations (Tool: Azure DevOps)
                </a>
            </li>

        </ol>
       </div>
      </div>
    </div>



{% endblock content %}