{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Infrastructure as Code
        </h1>

        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Evacuated_Highway_401_Color.jpg/580px-Evacuated_Highway_401_Color.jpg"
            width="21%">
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
        </p>

        <details>
            <summary class="sum1">
                Lesson 1: What Is Infrastructure as Code?
            </summary>

            <figure>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/RO7VcUAsf-I"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
                <figcaption>
                    Infrastructure as code: What is it? Why is it important?
                    <br />
                    (This is a fantastic <b>3 minute</b> explanation of the
                    value of Infrastructure as Code.)
                </figcaption>
            </figure>

            <p>
                Infrastructure as code (IaC) as the idea that, rather than manually
                provisioning servers, or setting up hardware through a
                point-and-click GUI, the "server room" should itself be managed 
                by code. That code can then be put under version control,
                tested, deployed with automated build tools, and so on.
                The code also serves as necessarily up-to-date documentation of 
                what the infrastructure is.
            </p>

            <p>
                The advantages of IaC can be divided into three main
                categories:
            </p>

            <ul class="nested">
                <li>
                    <span class="hilight">Cost savings</span>:
                    By automating hardware provisioning, the time of the people
                    who would have been doing that by hand is freed up for
                    other tasks.
                </li>

                <li>
                    <span class="hilight">Speed of deployment</span>:
                    It is much faster to configure infrastructure
                    by running a script than by manually setting a bunch
                    of parameters in a GUI interface.
                </li>

                <li>
                    <span class="hilight">Lower error rates</span>:
                    It is error-prone, because it is boring, too configure
                    systems "by hand." A script can be debugged once, and
                    then will run reliably again and again.
                </li>
            </ul>

            <p>
                (Source:
                <a href="https://en.wikipedia.org/wiki/Infrastructure_as_Code">
                    Wikipedia on Infrastructure as Code
                </a>
                )
            </p>

            <p>
                <span class="hilight">A DevOps principle</span>:
                Asking people to <i>behave like automatons</i> 
                bores and dehumanizes
                them. Asking them to devise clever ways
                <i>to automate things</i>
                interests them, and treats them as the rational 
                beings that they are!
            </p>

        </details>

        <details>
            <summary class="sum1">
                Lesson 2: Available Tools
            </summary>

            <details>
                <summary class="sum2">
                    Puppet
                </summary>
                    <h5>Pros:</h5>
                    <ul class="nested">
                        <li>
                            Easy installation
                        </li>
                        <li>
                            Supports all majors operating systems
                        </li>
                        <li>
                            GUI is user friendly
                        </li>
                        <li>
                            Stable and mature solution
                        </li>
                    </ul>

                    <h5>Cons:</h5>
                    <ul class="nested">
                        <li>
                            Built with Ruby, unlike other tools that are Python-based
                        </li>
                        <li>
                            New users must learn Puppet DSL
                        </li>
                        <li>
                            Remote execution is challenging
                        </li>
                    </ul>

                    <p>
                    <a href="https://gcallah.github.io/DevOps/deployment/puppet.html"> More on puppet </a>
                    </p>

            </details>

            <details>
                <summary class="sum2">
                  Chef
                </summary>
                <h5>Pros:</h5>
                <ul class="nested">
                    <li>
                        Meant to be used by programmers
                    </li>
                    <li>
                        Useful for large-scale development
                    </li>
                    <li>
                        Stable and mature solution
                    </li>
                    <li>
                        Good version control capabilities
                    </li>
                </ul>
                <h5>Cons:</h5>
                <ul class="nested">
                    <li>
                        Complicated tool to use
                    </li>
                    <li>
                        Familiarity with Ruby is required
                    </li>
                    <li>
                        Documentation can be overwhelming
                    </li>
                </ul>
                <p>
                <a href="https://gcallah.github.io/DevOps/deployment/chef.html"> More on Chef </a>
                </p>
            </details>
            <details>
                <summary class="sum2">
                  Ansible
                </summary>
                <h5>Pros:</h5>
                <ul class="nested">
                    <li>
                        Easy and fast deployment
                    </li>
                    <li>
                        Secure SSH connection
                    </li>
                    <li>
                        Meant for environments that can scale rapidly
                    </li>
                    <li>
                        Push and pull models are supported
                    </li>
                </ul>
                <h5>Cons:</h5>
                <ul class="nested">
                    <li>
                        Basic support for Windows
                    </li>
                    <li>
                        GUI is not very interactive
                    </li>
                    <li>
                        Difficult to locate syntax errors with YAML
                    </li>
                </ul>
                <p>
                <a href="https://gcallah.github.io/DevOps/deployment/ansible.html"> More on Ansible </a>
                </p>
            </details>
            <details>
                <summary class="sum2">
                  SaltStack
               </summary>
                <h5>Pros:</h5>
                <ul class="nested">
                    <li>
                        Implemented in Python and controlled with YAML files
                    which are simple to understand
                    </li>
                    <li>
                        Fast communication between master and client
                    </li>
                    <li>
                        Provides high scalability and resiliency
                    </li>
                    <li>
                        Vibrant support community
                    </li>
                </ul>
                <h5>Cons:</h5>
                <ul class="nested">
                    <li>
                        Difficult to set up
                    </li>
                    <li>
                        Salt GUI is under development
                    </li>
                    <li>
                        Does not support a variety of Operating Systems
                    </li>
                </ul>
            </details>

        </details>

        <details>
            <summary class="sum1">
                Lesson 3: Running Docker
            </summary>

                <p class="author">
                    by
                    <br />
                    Prashantkumar Patel
                </p>

                <p>
                    In this webpage we are going to try and host a
                     simple static website in nginx using docker.
                    I have already talked about what version of
                    docker you should use. If you are using Windows
                    then docker-toolbox otherwise just using
                    docker native should be okay for the Mac and
                    Linux users.
                    This tutorial is written and performed in a MacBook
                    computer. Windows users
                    should not have any problem performing the same steps
                    in Windows, but if you
                    find yourself stuck somewhere please send me a slack
                     message, I will try to help you out.
                </p>

                <p>
                    First step is to download and install docker,
                    which I am sure everyone in the class did.
                    If not please visit <a href="http://www.docker.com">
                     http://www.docker.com
                     </a>.
                    You should follow the installation instructions
                     given in the website.
                </p>

                <h4>
                    Download the nginx image
                </h4>

                <p>
                    Let's run the following command in terminal/quickstart-terminal.
                </p>

                <p>
                   <code> docker images </code>
                </p>
                <p>
                    This command should give you the list of images
                    that are available in the system. For example
                    in my system it looks something like
                    this. Yours might have a different than what I have.
                </p>
                

                <p>
                <code>
                    <pre>
    ENG-EJC369-02:$ docker images
    REPOSITORY            TAG                 IMAGE ID            CREATED             SIZE
    gcallah/jenkins_py3   latest              21130e104ca1        4 weeks ago         742MB
    jenkins               latest              cd14cecfdb3a        6 weeks ago         696MB
    gcallah/indra         v7                  ad9670e8b27f        2 months ago        946MB
    python                latest              efb6baa1169f        5 months ago        691MB
    ubuntu                latest              f975c5035748        5 months ago        112MB
    gcallah/emu86         v4                  f6833ae8bf9e        6 months ago        776MB
    gcallah/django        latest              432de70e222d        6 months ago        769MB
    bash                  latest              59507b30b48a        6 months ago        12.2MB
    alpine                latest              3fd9065eaf02        7 months ago        4.15MB
                    </pre>
                </code>
                </p>


                <p>
                    As you can see that I don't have the nginx image
                    install. I will run the following command which will
                    install the nginx image for me.
                </p>

                <p>
                <code>
                    docker pull nginx
                </code>
                </p>
                <p>
                    Now that you have installed the nginx image,
                    just run the docker images command again,
                    in the list you should see ngnix image just like
                    down below:
                </p>

                <p>
                <code>
                    <pre>
    ENG-EJC369-02:$ docker images
    REPOSITORY            TAG                 IMAGE ID            CREATED             SIZE
    nginx                 latest              71c43202b8ac        7 hours ago         109MB
    gcallah/jenkins_py3   latest              21130e104ca1        4 weeks ago         742MB
    jenkins               latest              cd14cecfdb3a        6 weeks ago         696MB
    gcallah/indra         v7                  ad9670e8b27f        2 months ago        946MB
    python                latest              efb6baa1169f        5 months ago        691MB
    ubuntu                latest              f975c5035748        5 months ago        112MB
    gcallah/emu86         v4                  f6833ae8bf9e        6 months ago        776MB
    gcallah/django        latest              432de70e222d        6 months ago        769MB
    bash                  latest              59507b30b48a        6 months ago        12.2MB
    alpine                latest              3fd9065eaf02        7 months ago        4.15MB
                    </pre>
                </code>
                </p>

                <h4>
                    Download website code
                </h4>

                <p>
                    Ok now that you have download the nginx image,
                    let's download the static website that you
                    are going to host inside the docker container.
                    We are going to use the algorithms website for
                    professor's other subject. You can find the
                    code for the website to
                    <a href="http://gitub.com/gcallah/algorithms.git">
                    algorithms
                    </a>
                </p>

                <p>
                    Please remember the location where you have
                    cloned the repository. I have cloned it in
                    <code> /Users/prashant/school/algorithms</code>
                    you's will be different than this, please note
                    the location. Below is the screenshot of algorithms
                    directory.
                </p>

                <h4>
                    Let's make a container
                </h4>

                <p>
                    Ok, so we have downloaded the nginx image and
                    the code of the website which we want to host
                    All we need to do is just make a container
                    out of the image. We will put the code of
                    website inside the container so that the
                    webserver which is nginx in our case can
                    read the html files and host it in local
                    server.
                    The command for that is as shown below.
                </p>
                <p>
                    <code>
                        docker run --name algo_website -p 127.0.0.1:8080:80
                        -v /Users/prashant/school/algorithms/:/usr/share/nginx/html
                        -d nginx
                    </code>
                </p>

                <p>
                    Please don't forget to change the location of
                     algorithms directory in above command.
                     After you run the command open the browser
                     and type http://localhost:8080 and you
                     should be able to see the webpage.
                     Windows user should use the address
                     http://192.168.99.100:8080 instead of localhost.
                </p>


                <p class="copyright">
                    &copy; 2018 Prashantkumar Patel
                </p>
        </details>

        <details>
            <summary class="sum1">
                Our Docker Implementation
            </summary>

            <p>
            Each project we work on should have a 
            <code>Dockerfile</code> consisting of instructions
            on how to build the image for that project, a
            <code>requirements.txt</code> listing what
            external modules need to be included in the image,
            and a line in the project's <code>makefile</code>
            automating the build of the image.
            This is <i>infrastrcuture as code</i>, since the infrastructure for 
            the project is built from these files of code.
            </p>

            <p>
                So, in the <code>makefile</code> we want something 
                like:
            </p>

            <p>
            <code>
        container: $(DOCKER_DIR)/Dockerfile  $(DOCKER_DIR)/requirements.txt
        <br />
	        &nbsp; &nbsp; &nbsp; &nbsp; docker build -t indra docker
            </code>
            </p>

            <ul class="nested">
                <li>
                    <a href="https://github.com/gcallah/indras_net/blob/master/docker/Dockerfile">
                        Here is a sample Dockerfile.
                    </a>
                </li>

                <li>
                    <a href="https://github.com/gcallah/indras_net/blob/master/docker/requirements.txt">
                        Here is the requirements file it uses.
                    </a>
                </li>
            </ul>


        </details>

        <details>
            <summary class="sum1">
                Other Readings
            </summary>

            <ul class="nested">
               <li>
                    <a href="https://puppet.com/blog/containers-are-eating-world">
                        Containers are eating the world
                    </a>
                </li>

                <li>
                    <a href="https://www.ibm.com/developerworks/java/library/a-devops2/index.html">
                        Infrastructure automation
                    </a>
                </li>

                <li>
                    <a href="https://www.ibm.com/developerworks/library/d-bbd-guide-iac/">
                        A Behavior Driven Developer's guide to Infrastructure as Code
                    </a>
                </li>

            </ul>

        </details>


        {% include 'quiz.html' %}

{% endblock content %}
