{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Microservices and Serverless Computing
        </h1>

        <figure>
            <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/SOA_Metamodel.svg/900px-SOA_Metamodel.svg.png"
            width="26%">
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
            "The philosophy of the microservices architecture essentially
            equates to the Unix philosophy of 'Do one thing and do it well.'"
            -- <a href="https://en.wikipedia.org/wiki/Microservices#Philosophy">
                Wikipedia</a>
        </p>

        <details>
            <summary class="sum1">
                Lesson 1: What Are Microservices?
            </summary>

            <p>
                For organizations with large, monolithic 
                applications, adopting a microservice approach should prove
                beneficial because:
            </p>

            <ul class="nested">
                <li>
                    They are simpler to understand than a monolithic
                    application.
                </li>

                <li>
                    They are easier to scale: only the part of the overall
                    application that is the bottleneck needs to be 
                    given more resources.
                </li>

                <li>
                    It is easier to do continuous delivery when it is
                    microservices being updated, rather than an entire
                    monolithic application.
                </li>

                <li>
                    There will be looser coupling between components of the
                    system when it is built on microservices.
                </li>

                <li>
                    Bugs are isolated in a microservice and can't bring
                    down all components of a system.
                </li>

                <li>
                    They enable more freedom of choice among technologies,
                    as each microservice team can choose different languages,
                    libraries, databases, and so on.
                </li>

                <li>
                    "Microservice proponents tend to avoid this model,
                    preferring instead the notion that a team should own a
                    product over its full lifetime. A common inspiration for
                    this is Amazon's notion of "you build, you run it" where a
                    development team takes full responsibility for the software
                    in production. This brings developers into day-to-day
                    contact with how their software behaves in production and
                    increases contact with their users..." -- Lewis and Fowler,
                    linked below
                </li>

            </ul>

            <p>
                Please also read:
            </p>

            <ul>
                <li>
                    Lewis and Fowler on
                    <a href="https://martinfowler.com/articles/microservices.html">microservices</a> 
                </li>

                <li>
                    Bob Martin on
                    <a href="http://blog.cleancoder.com/uncle-bob/2014/10/01/CleanMicroserviceArchitecture.html">clean microservice
                        architecture</a> .
                </li>
                <li>
                    Python Anywhere's
                    <a href="https://help.pythonanywhere.com/pages/API/">API
                        interface</a> 
                </li>

                <li>
                    <a href="https://thenewstack.io/led-amazon-microservices-architecture/">
                        What Led Amazon to Its Microservices Architecture
                    </a> 
                </li>

            </ul>

        </details>

        <details>
            <summary class="sum1">
                Lesson 2: Flask Rest Plus
            </summary>

            <p>
            <a href="http://indrasnet.pythonanywhere.com">Here</a>
            is a server running Flask Rest Plus, and Swagger, a component
            which documents the API, as well as letting users test it.
            </p>

            <p>
                <a href="https://flask-restplus.readthedocs.io/en/stable/">Here</a> 
                is the documentation for Flask Rest Plus.
            </p>


        </details>

        <details>
            <summary class="sum1">
                Other Readings
            </summary>

            <ul class="nested">
                <li>
                    <a href="https://thenewstack.io/led-amazon-microservices-architecture/">
                        Amazon's move to microservices
                    </a>
                </li>
            </ul>


            <ul class="nested">
                <li>
                    <a href="https://en.wikipedia.org/wiki/Microservices">
                        Microservices
                    </a>
                </li>

                <li>
                </li>
            </ul>

        </details>


        {% include 'quiz.html' %}


{% endblock content %}
