{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Monitoring
        </h1>

        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/KDEsystemguard_screenshot.png/500px-KDEsystemguard_screenshot.png"
            width="20%">
            <figcaption>
                KDE System Guard
            </figcaption>
        </figure>

        <p class="leadquote">
        </p>

        <details>
            <summary class="sum1">
                Lesson 1
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Lesson 2
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Lesson 3
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Our Monitoring Implementation
            </summary>

            <p>
                We use the product
                <a href="https://www.statuscake.com/">StatusCake</a>
                to monitor the uptime on our
                various different websites.  In our current configuration,
                StatusCake simply pings our URLs, and sends alerts when it
                encounters discouraging HTTP Status Codes.
            </p>

            <p>
                We've configured StatusCake to send emails
                to the project owners, as well as Slack messages
                to appropriate, project-specific channels.
            </p>

            <p>
                There's definitely room for improvement here,
                but StatusCake is a good starting place.
                Here are some things that we might consider
                when improving on this foundation:
            </p>

            <ul class="nested">
                <li>
                    StatusCake is a black box solution --
                    it doesn't have any visibility of the
                    internals of our program, it provides
                    us with data on how our website looks
                    to users.  It would be nice to have a
                    monitoring solution that combines 
                    black-box reporting with logs and stack
                    traces.
                </li>
                <li>
                    StatusCake, as it's configured right now,
                    only checks for HTTP status codes. However,
                    it's possible for our web server to ACK
                    with empty or incorrect pages.  Ideally, we would
                    test for content, in addition to headers, to mitigate
                    this scenario.
                </li>
                <li>
                    We're not collecting our logs or runtime metrics in any
                    meaningful way. That should be a crucial next
                    step in aiding disaster response.
                </li>
            </ul>
            
        </details>

        <details>
            <summary class="sum1">
                Other Readings
            </summary>

            <ul class="nested">
                <li>
                    <a href="https://www.blazemeter.com/blog/top-ten-monitoring-tools-every-devops-needs">
                        Top 14 Monitoring tools that every DevOps needs
                    </a>
                </li>

                <li>
                    <a href="https://theagileadmin.com/2018/02/16/monitoring-and-observability/">
                       Monitoring and Observability
                    </a>
                </li>

                <li>
                    <a
                        href="https://insights.sei.cmu.edu/devops/2015/12/monitoring-in-the-devops-pipeline.html">
                    Monitoring in the DevOps Pipeline
                    </a>
                </li>

                <li>
                    <a
                        href="https://www.blazemeter.com/blog/top-10-monitoring-tools-every-devops-needs">
                        DevOps monitoring tools
                    </a>
                </li>

                <li>
                    <a
                        href="https://devops.com/google-analytics-adapts-to-gdpr-but-questions-remain/">
                        Google Analytics Adapts to GDPR, But Questions Remain
                    </a>
                </li>

                <li>
                    <a
                        href="https://en.wikipedia.org/wiki/Nagios">
                        Nagios
                    </a>
                </li>

                <li>
                    <a
                        href="https://medium.com/linux-monitoring-with-nagios/what-is-nagios-64e547db57ca">
                        What is Nagios?
                    </a>
                </li>

                <li>
                    <a
                        href="https://www.netadmintools.com/zabbix-vs-nagios-comparison">
                        Zabbix vs Nagios Comparison for Network and
                        Bandwidth Monitoring
                    </a>
                </li>

                <li>
                    <a
                        href="https://docs.sensu.io/sensu-core/0.29/overview/what-is-sensu/">
                        What is Sensu?
                    </a>
                </li>

                <li>
                    <a
                        href="https://xebialabs.com/technology/sysdig/">
                        Sysdig
                    </a>
                </li>

                <li>
                    <a
                        href="https://newrelic.com/products/infrastructure">
                        New relic: Change the way you monitor
                        infrastructure
                    </a>
                </li>

                <li>
                    <a
                        href="https://en.wikipedia.org/wiki/Stackdriver">
                        Google Stackdriver
                    </a>
                </li>

                <li>
                    <a
                        href="https://blog.newrelic.com/2017/09/13/applied-intelligence-radar/r">
                        Introducing New Relic Applied Intelligence
                    </a>
                </li>

                <li>
                    <a
                        href="https://stackify.com/application-performance-management-tools/">
                        Comparison of 18 APM & Application Monitoring Tools
                    </a>
                </li>

                <li>
                    <a
                        href="https://en.wikipedia.org/wiki/BigPanda">
                        BigPanda
                    </a>
                </li>
            </ul>

        </details>


        {% include 'quiz.html' %}

{% endblock content %}
