        <details {% if messages %} open {% endif %}>
            <summary class="sum1">
                Quiz
            </summary>

            {% if not questions %}
                <ul class="nested">
                    <p> There is no quiz available for this module. </p>
                </ul>
            {% else %}
                {% if messages %}
                    <ul class="errors">
                        {% for message in messages %}
                            <li> {{ message }} </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <form method="post" action="{% url 'devops:grade_quiz' %}" id="formID">
                {% csrf_token %}
                    <ol class="nested">

                        {% for q in questions %}
                            <div class="card" style="width: 95%;color:black;">

                              <div class="card-body">
                                <p class="quiz_quest">
                                    {{ q.text }}
                                </p>
                                <ol class="nested" type='a' >
                                {% if q.answerA %}
                                    <li>

                                        <input type="radio" name="_{{q.id}}"
                                            value='a' id="{{ q.id }}" required>

                                        {{ q.answerA }}
                                    </li>
                                {% endif %}
                                {% if q.answerB %}
                                    <li>
                                        <input type="radio" name="_{{q.id}}"
                                            value='b' >
                                        {{ q.answerB }}

                                    </li>
                                {% endif %}
                                {% if q.answerC %}
                                    <li>
                                        <input type="radio" name="_{{q.id}}"
                                            value='c' >
                                         {{ q.answerC }}

                                    </li>
                                {% endif %}
                                {% if q.answerD %}
                                    <li>
                                        <input type="radio" name="_{{q.id}}"
                                            value='d' >
                                            {{ q.answerD }}

                                    </li>
                                {% endif %}
                                {% if q.answerE %}
                                    <li>
                                        <input type="radio" name="_{{q.id}}"
                                            value='e' >
                                           {{ q.answerE }}

                                    </li>
                                {% endif %}
                            </ol>
                              </div>
                            </div>


                        {% endfor %}
                    </ol>

                    <p class="submit">
                        <button class="btn btn-xl" style='width:30%;'
                            type="submit" name="submit" value={{mod_nm}}>
                            Grade Quiz
                        </button>
                    </p>
                </form>
            {% endif %}
        </details>

<script type="text/javascript">
    var form = document.getElementById('formID'); // form has to have ID: <form id="formID">
    form.noValidate = true;
    form.addEventListener('submit', function(event) { // listen for form submitting
        if (!event.target.checkValidity()) {
            event.preventDefault(); 
            alert('Please answer all questions.'); // error message
        }
    }, false);
</script>

