        <details>
            <summary class="sum1">
                Quiz
            </summary>

            <ol class="nested">
                {% for q in questions %}
                    <li>
                        {{ q.text }}
                    </li>
                    <ol class="nested" type='a'>
                        {% if q.answerA %}
                            <li>
                                <input type="radio" name="{{q.text}}"
                                    value='a'>
                                {{ q.answerA }}
                            </li>
                        {% endif %}
                        {% if q.answerB %}
                            <li>
                                <input type="radio" name="{{q.text}}"
                                    value='b'>
                                {{ q.answerB }}
                            </li>
                        {% endif %}
                        {% if q.answerC %}
                            <li>
                                <input type="radio" name="{{q.text}}"
                                    value='c'>
                                {{ q.answerC }}
                            </li>
                        {% endif %}
                        {% if q.answerD %}
                            <li>
                                <input type="radio" name="{{q.text}}"
                                    value='d'>
                                {{ q.answerD }}
                            </li>
                        {% endif %}
                        {% if q.answerE %}
                            <li>
                                <input type="radio" name="{{q.text}}"
                                    value='e'>
                                {{ q.answerE }}
                            </li>
                        {% endif %}
                    </ol>
                {% endfor %}
            </ol>
        </details>
