        <details>
            <summary class="sum1">
                Quiz
            </summary>

            <form method="post" action="{% url 'devops:grade_quiz' %}">
            {% csrf_token %}
            <ol class="nested">
                {% for q in questions %}
                    <li>
                        {{ q.text }}
                    </li>
                    <ol class="nested" type='a'>
                        {% if q.answerA %}
                            <li>
                                <input type="radio" name="_{{q.id}}"
                                    value='a'>
                                {{ q.answerA }}
                            </li>
                        {% endif %}
                        {% if q.answerB %}
                            <li>
                                <input type="radio" name="{{q.text}}"
                                    value='b'>
                                {{ q.answerB }}
                            </li>
                        {% endif %}
                        {% if q.answerC %}
                            <li>
                                <input type="radio" name="_{{q.id}}"
                                    value='c'>
                                {{ q.answerC }}
                            </li>
                        {% endif %}
                        {% if q.answerD %}
                            <li>
                                <input type="radio" name="_{{q.id}}"
                                    value='d'>
                                {{ q.answerD }}
                            </li>
                        {% endif %}
                        {% if q.answerE %}
                            <li>
                                <input type="radio" name="_{{q.id}}"
                                    value='e'>
                                {{ q.answerE }}
                            </li>
                        {% endif %}
                    </ol>
                {% endfor %}
            </ol>

            <p class="submit">
                <button class="button" type="submit" name="submit">
                    Grade Quiz
                </button>
            </p>
            </form>


        </details>
