{% extends "base.html" %}
{% block content %}
    <div style="height:85vh;overflow:scroll;">
{% for item in data %}
       <div class="card" style="width:50%;left:25%;margin-top:3.5vh;">

                      <div class="card-body">
                          <h5>
                              <a style="font-size:1.5rem;color:blue;font-weight:darkblue;"href="{{ item.url }}" target="_blank">
                              {{ item.page }}
                              </a>
                          </h5>
                        <p style="color:black;font-weight:bold;">
                         {{ item.content }}
                        </p>

                      </div>
       </div>
{% endfor %}
    </div>
{% endblock content %}
