{% extends "base.html" %}
{% block content %}
<div class="module">
    <h1>
        Complete DevOps Operations (Tool: Azure DevOps)
    </h1>

    <figure>
        <img
        src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/2018/2018-09/870x220_telerik-blogs.png?sfvrsn=42f2f9a4_1"
        width="33%">
        <figcaption>
        </figcaption>
    </figure>

    <p class="leadquote">
        "It's clear DevOps has become increasingly critical to a team's
        success." -- Jamie Cool, Microsoft
    </p>

    <details>
        <summary class="sum1">
            Lesson 1: Microsoft's DevOps Tools
        </summary>

        <p>
            Here we have Denis Petelin presenting, first, his understanding
            of what DevOps is, and secondly, how the Microsoft
            toolkit offers end-to-end support for good DevOps practices:
        </p>

        <figure>
            <iframe width="560" height="315"
            src="https://www.youtube.com/embed/r5venuVst40" frameborder="0"
            allow="accelerometer; autoplay;
            encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <figcaption>
            Azure DevOps, Part I
        </figcaption>
    </figure>

    <figure>
        <iframe width="560" height="315"
        src="https://www.youtube.com/embed/8jjtY9sxNlY"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media;
        gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <figcaption>
        Azure DevOps, Part II
    </figcaption>
</figure>

<p>
    Below are the key DevOps ideas that Denis presented, with some
    commentary as to how they relate to other material presented in
    our course:
</p>

<ol class="nested">
    <li>
        <span class="hilight">
            Small releases
        </span>
        <br />
        This is our
        incremental development
        idea stated a little differently. The result of adopting
        this practice is almost magical: whereas previously, you
        may have found yourself doing an eight-hour coding spree,
        and then testing and correcting bugs for another 20 hours,
        you will find that 12 one-hour sessions, each aimed to get
        a tiny part of your software working, will get the same
        amount of work done as the 8-hour session... but will be
        followed by 20 <i>minutes</i> of debugging.
    </li>

    <li>
        <span class="hilight">
            Everything as code
        </span>
        <br />
        <a href=" {% url 'devops:infra' %}">
            Infrastructure as code
        </a>
        is a
        part of this principle. But also, your tests should be
        code (<code>pytest</code>),
        and your code reviews should be code (<code>flake8</code>),
        and your builds should be code (<code>make</code>).
    </li>

    <li>
        <span class="hilight">
            Use components
        </span>
        <br />
        This is an extension of the UNIX tool philosophy, which
        over many years led to the idea of
        <a href=" {% url 'devops:micro' %}">
            microservices.
        </a>
        The basic idea is the code that has the fewest bugs
        and the minimum development time is the code you don't have
        to write, since somebody else already wrote it!
    </li>

    <li>
        <span class="hilight">
            Automate everything you can
        </span>
        <br />
        Automating routine workflows allows us to:

        <ol class="inner_nested">
            <li>
                Turn them into code that itself can be put under
                version control and tested.
            </li>
            <li>
                Remove the drudgery of these repeated tasks
                from humans and assign it to machines.
            </li>
            <li>
                Document these workflows through the very code
                that automates them.
            </li>
        </ol>
    </li>

    <li>
        <span class="hilight">
            Zero-bug mindset
        </span>
        <br />
        When we embrace the idea of (very) small releases, and
        adopt automated testing, there is no need for us to have
        any "bug backlog" at all: the automated tests should catch
        most problems, and anything they miss, since our release
        was a very small addition to the previous code, will be
        easy to track down.
    </li>

    <li>
        <span class="hilight">
            Develop resilience (be anti-fragile!)
        </span>
        <br />
        <a href="https://en.wikipedia.org/wiki/Nassim_Nicholas_Taleb">
        Nassim Taleb</a>
        teaches in Tandon's finance department. He has developed
        the idea of
        <a href="https://en.wikipedia.org/wiki/Antifragility">anti-fragility.
        </a>
        An application of that idea is Netflix's
        <a href="https://en.wikipedia.org/wiki/Chaos_Monkey"> Chaos Monkey</a>
        tool, part of its
        <a
        href="https://en.wikipedia.org/wiki/Chaos_engineering#Perturbation_models">
        Simian Army</a> toolkit.
</li>

<li>
    <span class="hilight">
        Use cloud services
    </span>
    <br />
    This is really an extension of the "Use components"
    idea: why manage your own server room when there are pros
    at managing server rooms who will sell you their expertise
    at a reasonable cost?
</li>
</ol>

</details>

<details>
    <summary class="sum1">
        Lesson 2: DevOps at DRAFT
    </summary>

    <figure>
        <iframe width="560" height="315"
        src="https://www.youtube.com/embed/eDKJdFDGKKc"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <figcaption>
        Trevor John on DevOps at DRAFT
    </figcaption>
</figure>

<p>
    Please watch this video, and pay special attention to the
    discussion about whether DevOps should be a job, or a way of
    working.
</p>

</details>

<details>
    <summary class="sum1">
        Azure DevOps Ecosystem
    </summary>

    <p>
        Microsoft Azure, as a part of its push towards the DevOps
        philosophy, provides services aimed at increasing productivity
        through deep integrations on its platform. The main aim is to
        enable continuous development (CD) of our production software
        and continuous integration (CI) of updates to the same. We
        explore various services provided by Microsoft below:
    </p>

    <ol class="nested">
        <li>
            <span class="hilight">
                Azure Boards
            </span>
            <br />
            Boards is a project management service offered by
            Microsoft aimed at integrating the development activity
            using  easy-to-use interface. Boards is primarily based on
            the Kanban system, originally designed for lean
            manufacturing by Toyota. Apart from tracking progress from
            "idea to release", Boards allows for scheduling of  stand-
            ups, sprints and planning meetings. Boards allows for
            CI/CD though a feature called Backlogs which allows for
            dynamic addition of user stories and requirements to
            product backlog. This feature, when coupled with Scrum and
            Kanban boards, can dramatically improve productivity and
            ease the workflow.
            <br />
            <br />
            Steps to integrate Azure Boards with GitHub
            <ol class="inner_nested">
                <li>
                    Sign in to Azure Boards and select your project
                </li>
                <li>
                    Select Project Settings-&gt;GitHub
                    Connections-&gt;Connect your GitHub Account
                </li>
                <li>
                    Azure will prompt for GitHub authorization and
                    inform about access to information
                </li>
                <li>
                    The user can select repositories where the user is
                    an administrator
                </li>
            </ol>
            <i>Note</i>
            <br />
            Once a connection is made, Azure will link GitHub pull
            and push requests with work orders on the platform.
            <br />
            Subsequent commit messages can include <i>AB#</i>
            followed by the work item ID. E.g.: AB#125 will record
            updates to work item with ID 125. Azure recognizes
            <i>fix, fixes, and fixed</i> as keywords to close an
            issue which are subsequently moved to the "Done"
            section of the Board.<br /> Additional examples can be
            found <a href="https://docs.microsoft.com/en-us/azure/devops/boards/github/link-to-from-github?view=azure-devops#use-ab-mention-to-link-from-github-commits-and-pull-requests"
            target="_blank" style="text-decoration: underline">here</a>
        </li>

        <li>
            <span class="hilight">
                Azure Artifacts
            </span>
            <br />
            Artifacts allow package management using existing CI/CD
            pipelines to enable efficient code sharing across
            different teams in an organization. Support exists to use
            npm, Maven and NuGet package managers. A new feature
            introduced by Microsoft, called Universal Package allows
            developers to bundle multiple files such as database
            snapshots, machine learning models, developer tools, 3D
            models and configuration scripts. Microsoft's compression
            technology allows savings of 10:1 in network transfers and
            storage utilization. Native integration with existing
            CI/CD pipelines enables quick integration in existing
            projects and production code.
            <br />
            <br />
            Steps to use Azure Artifacts with YAML (Python - PyPi)
            <ol class="inner_nested">
                <li>
                    Install twine<br />
                    <script src="https://gist.github.com/shaivaldalal/be1245b268d15c9f2c4794bd83839298.js"></script>
                </li>
                <li>
                    Authenticate Azure Artifacts with Twine
                    <br />
                    To authenticate twine, we must add the following
                    snippet to our <i>azure-pipelines.yml</i>
                    file
                    <br />
                    <script src="https://gist.github.com/shaivaldalal/f32577bd710d24c860b278ad33d19469.js"></script>
                    Note: <i>artifactFeeds</i> should contain the name
                    of Azure Artifacts feeds within your organization
                    and <i>externalFeeds</i> should contain one or
                    more connection endpoints including PyPi or other
                    feeds in the organization where the latest package
                    is required to be pushed
                </li>
                <li>
                    Use custom twine tasks to publish
                    <script src="https://gist.github.com/shaivaldalal/7029ab441b55b2f607388caa92ce71e0.js"></script>
                </li>
            </ol>
            <br />
            Steps to use Azure Artifacts with YAML (NPM)
            <ol class="inner_nested">
                <li>
                    Setting up the connection To publish to an
                    external npm registry, a service connection must
                    be created first. To do this, go to <i>Project
                    Settings</i>-&gt;<i>Services</i>-&gt;<i>New Service
                    Connection</i>. <br /> Select npm from the option
                    and fill the registry URL and enter the
                    credentials to connect.
                </li>
                <li>
                    Publishing to NPM
                    <script src="https://gist.github.com/shaivaldalal/ced1fa36bb004dd9429dcd7e0c6f36fb.js"></script>
                </li>
            </ol>
        </li>

        <li>
            <span class="hilight">
                Azure DevTest Labs
            </span>
            <br />
            Azure DevTest Labs is a service that helps developers
            and testers quickly create environments in Azure while
            minimizing waste and controlling cost. You can test the
            latest version of your application by quickly provisioning
            Windows and Linux environments using reusable templates and
            artifacts. Easily integrate your deployment pipeline with
            DevTest Labs to provision on-demand environments. Scale up
            your load testing by provisioning multiple test agents, and
            create pre-provisioned environments for training and demos.[1]
        </li>

        <li>
            <span class="hilight">
                Azure Pipelines
            </span>
            <br />
            Azure Pipelines helps you implement a build, test, and
            deployment pipeline for any app.You can use Azure
            Pipelines to build an app written in any language. You can
            either use YAML to define your pipelines or use the visual
            designer to do the same.

            When you use YAML, you define your pipeline mostly in code
            (a YAML file) alongside the rest of the code for your app.
            When you use the visual designer, you define a build
            pipeline to build and test your code, and then to publish
            artifacts. You also define a release pipeline to consume
            and deploy those artifacts to deployment targets.[3]
            <br />
            <br />
            Steps to Use Azure Pipelines with YAML[3]
            <br />
            You can configure your pipelines in a YAML file that
            exists alongside your code.
            <ol class="inner_nested">
                <li>
                    Configure Azure Pipelines to use your Git repo.
                </li>
                <li>
                    Edit your azure-pipelines.yml file to define your
                    build.
                </li>
                <li>
                    Push your code to your version control repository.
                    This action kicks off the default trigger to build and
                    deploy and then monitor the results.
                </li>
                <li>
                    Your code is now updated, built, tested, and packaged.
                    It can be deployed to any target.
                </li>
            </ol>
              <br />
              Use Azure Pipelines in the visual designer[3]
              <br />
              You can create and configure your build and release
              pipelines in the Azure DevOps Services web portal with the
              visual designer.

            <ol class="inner_nested">
                <li>
                  Configure Azure Pipelines to use your Git
                  repo.
                </li>
                <li>
                  Use the Azure Pipelines visual designer to create
                  and configure your build and release pipelines.
                </li>
                <li>
                  Push your code to your version control repository.
                  This action triggers your pipeline and runs tasks such
                  as  building or testing code.
                </li>
                <li>
                  The build creates an artifact that's used by the
                  rest of your pipeline to run tasks such as deploying to
                  staging or production.
                </li>
                <li>
                  Your code is now updated, built, tested, and
                  packaged. It can be deployed to any target.
                </li>
            </ol>
            Instructions to create a CI/CD pipeline using Azure Pipelines
        </li>

      <li>
        <span class="hilight">
            Azure Repos
        </span>
        <br />
        Azure Repos offers cloud-hosted private and public Git repos
        accessible through IDEs, web interfaces and any Git client.
        It offers collaborative code reviews that improve the quality
        of the code and increase the knowledge of the code base
        across the team. Repos also allow users to manage
        access to the code repositories. It is possible to assign
        granular permissions to users and groups. Azure Repos
        provide user with semantic code search which is a code-aware
        search that understands classes and variables. CI/CD pipelines
        can be set to build on code changes and with the use of branch
        policies, builds can be checked for quality automatically.
      </li>

      <li>
          <span class="hilight">
              Azure Test Plans
          </span>
          <br />
          Azure Test Plans provide users to design and execute  browser-based
          planned manual and exploratory solutions to software before being
          pushed to production. Kanban boards are used to add, view, interact
          with test cases and progressively monitor the status. It alows
          users to let you organize tests  into test plans and test suites.
          The test suites can be dynamic or static. Runners can be used to
          test apps on any platform. The bugs filed during the process will
          include the diagnostic data automatically. Through the testing
          process, it collects rich scenario data to enable easier diagnosis
          of issues.
      </li>

      <li>
          <span class="hilight">
              Azure DevOps tool integrations
          </span>
          <br />
          Azure provides integration with popular open source and third-party
          tools and services—across the entire DevOps workflow. Spend less
          time integrating and more time delivering higher-quality software,
          faster.Use Visual Studio Team Services or deploy directly to Azure
          infrastructure from your favorite continuous integration and
          continuous delivery tools, such as Jenkins. In addition to using
          Azure Resource Manager for infrastructure as code, you can
          provision and manage Azure infrastructure directly from your
          favorite third-party tools, such as Ansible, Chef, Puppet, and
          Terraform. Azure services, third-party DevOps tools, and related
          products all work together to help meet the most common business
          needs and scenarios—including yours. Get started quickly with Azure
          DevOps solutions that give you access to architectures, tutorials,
          documentation, examples, templates, partners, and other
          resources.[2]
      </li>

      <li>
          <span class="hilight">
              Azure Devops Project
          </span>
          <br />
          Devops Project presents a simplified experience for deploying
          existing code from a Git repository and create a CI/CD pipeline.
          With a varied support for different programming languages and git
          repositories, it also provides direct integration with services
          like Azure Virtual Machines, Azure SQL, Azure Container Service and
          Kubernetes, and Azure Fabric. Tutorials for various programming
          languages are available <a
          href="https://docs.microsoft.com/en-us/azure/devops-project/"
          target="_blank" style="text-decoration: underline">here</a>
      </li>

      <li>
          <span class="hilight">
              Azure Monitoring Service
          </span>
          <br />
          Monitoring Service lies outside the Devops platform but provides
          useful insights about the project by collecting, analyzing and
          acting on the telemetry collected from cloud and on-premise
          environments. It helps users better understand the health of the
          environments and the dependencies their projects contain. <br />
          The service collects metrics in real-time and logs from Azure
          platform, Guest OS and also from the application. <br /> More
          information about the full suite of Azure Monitor service  can be
          found <a
          href="https://docs.microsoft.com/en-us/azure/azure-monitor/overview"
          target="_blank" style="text-decoration: underline">here</a>
      </li>
      <li>
          <span class="hilight">
              Azure Automation
          </span>
          <br />
          Azure automation provides a way to automate cloud management task
          by authoring runbooks. Azure automation configuration management
          feature provides reports when the assigned configuration of node
          (system) has changed by allowing you to track unwanted changes
          across services and files. Common scenarios where Azure Automation
          is used are Build/Deploy resources, configure and monitor VM etc.
          <br /> More information about Azure Automation can be found <a
          href="https://docs.microsoft.com/en-us/azure/automation/automation-intro"
          target="_blank" style="text-decoration: underline">here</a>
      </li>
      <li>
          <span class="hilight">
              Azure Service Health
          </span>
          <br />
          Azure Service Health provides personalized alerts thereby notifying
          and helping us understand the impact of the Azure service issue
          affecting the availability of our resources. It integrates into
          Azure monitor and provides alert through emails and text messages.
          <br /> More information about Azure Service Health can be found <a
          href="https://azure.microsoft.com/en-us/features/service-health/"
          target="_blank" style="text-decoration: underline">here</a>
      </li>
      <br />
  </ol>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;References</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;[1]
    <a href="https://docs.microsoft.com/en-us/rest/api/dtl/"
    target="_blank" style="text-decoration: underline">
    https://docs.microsoft.com/en-us/rest/api/dtl/</a>
  </p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;[2]
    <a href="https://azure.microsoft.com/en-us/products/devops-tool-integrations/"
    target="_blank" style="text-decoration: underline">
    https://azure.microsoft.com/en-us/products/devops-tool-integrations/</a>
  </p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;[3]
    <a
    href="https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/pipelines-get-started?view=azure-devops/"
    target="_blank" style="text-decoration: underline">
    https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/
    pipelines-get-started?view=azure-devops/</a>
  </p>

</details>

<details>
    <summary class="sum1">
        Azure Docker Deployment
    </summary>
    <p>
        Different ways of deploying docker to Azure are discussed here:
    </p>
        <details>
            <summary class="sum2">
                Azure Container Registry
            </summary>
            <br />
            <p>
            An Azure container registry is a private Docker registry
            in Azure where you can store and manage your private
            Docker container images.
            <br />
            <a
            href="https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started-portal"
            target="_blank" style="text-decoration: underline"> Steps to
            create Azure Container Registry using Portal </a>
            <br />
            <a
            href="https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started-azure-cli"
            target="_blank" style="text-decoration: underline">
            Steps to create Azure Container Registry using CLI
            </a>
            &nbsp;&nbsp;(Instructions to install the CLI binary can be found
             <a href="https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest" target="_blank" style="text-decoration: underline">here</a>)
            <br />
            <br />
            You can configure webhooks for your container registry that
            generate events when certain actions are performed against it.
            For example, enable webhooks that are triggered when a container
            image is pushed to a registry, or deleted. When a webhook is
            triggered, Azure Container Registry issues an HTTP or HTTPS
            request containing information about the event to an endpoint you
            specify. Your endpoint can then process the webhook and act
            accordingly. The following links detail the schema of webhook
            requests generated by supported events and how to use the
            webhooks.
            <br />
            <a href="https://docs.microsoft.com/en-us/azure/container-registry/container-registry-webhook-reference"
            target="_blank" style="text-decoration: underline">
                Webhook Request Schema
            </a>
            <br />
            <a href="https://docs.microsoft.com/en-us/azure/container-registry/container-registry-webhook"
            target="_blank" style="text-decoration: underline">
                Using Webhooks
            </a>
            <br/>
            <br/>
            Azure Event Grid<br /> Azure Event Grid is a fully managed
            event routing service that provides uniform event consumption
            using a publish-subscribe model. You can use the Azure CLI to
            create a container registry, subscribe to registry events,
            then deploy a sample web application to receive the events.
            Finally, you trigger container image push and delete events
            and view the event payload in the sample application.
            <br/>
            <a href="https://docs.microsoft.com/en-us/azure/container-registry/container-registry-event-grid-quickstart"
            target="_blank" style="text-decoration: underline">
               More Information on Azure Event Grid
            </a>
            <a href="https://docs.microsoft.com/en-us/azure/event-grid/event-schema-container-registry"
            target="_blank" style="text-decoration: underline">
              Azure Event Grid event schema
            </a>
            </p>
            <p>
            Build and test container images with ACR Tasks in four ways:
            </p>
            <ul class="nested">
                <li>
                    <a>Quick task</a>: Build and push container images
                    on-demand, in Azure, without needing a local Docker
                    Engine installation. Think <code>docker build</code>,
                    <code>docker push</code> in the cloud. Build from local
                    source code or a Git repository.
                </li>
                <li>
                    <a >Build on source code commit</a>: Trigger a container
                    image build automatically when code is committed to a Git
                    repository.
                </li>

                <li>
                    <a >Build on base image update</a>: Trigger a container
                    image build  when that image's base image has been
                    updated.
                </li>
                <li>
                <a >Multi-step tasks</a> (preview): Define multi-step tasks
                that build images, run containers as commands, and push
                images to a registry. This preview feature of ACR Tasks
                supports on-demand task execution and parallel image build,
                test, and push operations.
                </li>
            </ul>
            <br/>
            <p>
            <a href="https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-quick-task"
            target="_blank" style="text-decoration: underline">
              Creating ACR Task to Build and Deploy containers using CLI
            </a></p>
            <hr>
        </details>

        <details>
            <summary class="sum2">
                Docker Hub
            </summary>
            <ul class="nested">
                <li>
                  A Docker Hub repository can be configured via webhooks to
                  make it an event driven service. As soon as any changes are
                  made to the repository, the URL will be called.
                </li>
                <br/>
                <img src="../static/devops/dockerhubwebhook.png" style="width:60%;">
            </ul>
            <br />


            <details>
                <summary class="sum3">
                    Deploying via Azure Container Instance (one-time)
                </summary>
                <ul class="nested">
                    <li>
                        Create a new container instance <br/> Container
                        instances can be used to deploy serverless Docker
                        instances. The option is accessible through the Azure
                        Portal by clicking on 'Create a new resource' -&gt
                        searching for 'Container Instances' -&gt and clicking
                        'Create'
                    </li>
                    <li>
                        Define container properties
                        <br />
                        (Basics) We define properties like 'Container Name',
                        'Container Image' containing the Docker Tag or URI,
                        'Resource Group' for resource and policy management
                        and 'Location' for the server.
                        <br />
                        <br />
                        (Configuration) Attributes
                        like 'OS Type', cores, memory  and other
                        infrastructure details can be defined at this step
                        <br />
                        <br />
                        (Summary) The configuration will be
                        printed once for the user to review and Azure will
                        begin provisioning infrastructure
                    </li>
                </ul>
            </details>

            <details>
                <summary class="sum3">
                  Deploying via Azure 'Web App for Containers' (Continuous
                  Deployment)
              </summary>
              <ul class="nested">
                <li>
                    Creating a web app
                    <ol class="inner_nested">
                        <li>
                            Go to <a href="https://portal.azure.com" target="_blank"
                            style="text-decoration:
                            underline">portal.azure.com</a>
                        </li>
                        <li>
                            Click on "Create a resource"
                        </li>
                        <li>
                            Search the Marketplace for "Web App for
                            Containers"
                        </li>
                        <li>
                            Click on "Create" button when Azure displays the
                            page for this service
                        </li>
                        <li>
                            Provide details like "App Name", "Subscription"
                            (billing), "Resource Group" (create a new group
                            if one doesn't exist), "OS" and "App
                            Service/Location"
                        </li>
                        <li>
                            Click the option of "Configure Container" for
                            defining the image source. Select "Docker Hub" to
                            be the source and provide repository details like
                            access type, image and tag information, and  <a
                            href="https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-faq#built-in-images"
                            style="text-decoration: underline">"Startup
                            File"</a>
                    </li>
                    <li>
                        Click on "Apply" and then "Create" on the web app
                        settings menu. Azure will run validation tests and
                        begin deployment. Deployments can be monitored from
                        the notification button in the top.
                    </li>
                </ol>
            </li>
            <li>
                Turning on Continuous Deployment
                <ol class="inner_nested">
                    <li>
                        Go to "App Service" from the Azure Portal
                    </li>
                    <li>
                        Select the application for which you wish to turn on
                        Continuous Deployment
                    </li>
                    <li>
                        Click on "Container Settings" and in the next window,
                        turn on "Continuous Deployment"<br />  <img
                        src="../static/devops/cont_deployment_webapp.png"
                        style="width:80%;">
                    </li>
                </ol>
            </li>
            <li>
                (Example) Deploying a Class Scheduling application
                <ul class="inner_nested">
                    <li>Deployment HOW-TO Video
                        <figure>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/oGVf8lInkvY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </figure>
                    </li>
                    <li>
                        Deployment HOW-TO Steps
                        <ol class="inner_nested">
                            <li>
                                Click on "Create A New Resource" from the <a
                                href="https://portal.azure.com"
                                style="text-decoration:underline"> Azure
                                Portal</a> and search for "Web App for
                                Containers".
                            </li>
                            <li>
                                Click on the "Create" button on the
                                application description screen that follows.
                            </li>
                            <li>
                                Configure elements of your application like
                                "App Name" (Must be present in  the
                                <i>ALLOWED_HOSTS</i> section of your
                                website's settings.py file), "Subscription",
                                "Resource Group", and "App Service Plan".
                            </li>
                            <li>
                                Click on "Container Settings" and select
                                Docker Hub (Container source) and enter the
                                image and tag details
                                (shaival/testnyuscheduler) in this case.
                                Default tag selected by Azure is "latest".
                                Enter the startup file details depending on
                                container's settings. It is a good idea to
                                enter absolute paths to prevent confusion.<br
                                /> Click on "Create".
                            </li>
                            <li>
                                Access the resource from the Dashboard and
                                click on "Container Settings".
                            </li>
                            <li>
                                Turn on "Continuous Deployment" and copy the
                                Webhook URL.
                            </li>
                            <li>
                                Paste the URL in Docker Hub's "Manage
                                Repository" settings page and assign  a name
                                to the webhook. Click on the "+" symbol to
                                add it to Docker Hub.
                            </li>
                            <li>
                                Allow Azure to pull and deploy the image. The
                                application is accessible from the URL as
                                mentioned in the "Overview" page.
                            </li>
                        </ol>
                    </li>
                </ul>
            </li>
        </ul>
        <hr>
    </details>

    <details>
        <summary class="sum3">
            Azure Template Deployment (one-time)
        </summary>
        <p>
            Resource deployment can be automated using Azure Template
            Deployment. A template can either be created in the online editor
            or imported from GitHub. Microsoft also provides some common
            templates which can be configured by the user.
            <br/>
            The link <a
            href="https://gist.github.com/shaivaldalal/198e7363c3574893792fb15f773258a5"
            target="_blank" style="text-decoration: underline">here</a>
            contains a reference template to deploy the class scheduler
            application to Azure
         </p>
        <br />
        <p> Steps to deploy the script to Azure (Web Portal)</p>
        <ol class="nested">
            <li>
                Go to <a href="https://portal.azure.com" target="_blank"
                style="text-decoration:underline">portal.azure.com</a> and
                click on "Create a Resource"
            </li>
            <li>
                Search the marketplace for "Template deployment" and click
                "Create" on the product page
            </li>
            <li>
                Use the online editor by selecting "Build your own template
                in the editor"
            </li>
            <li>
                Paste the above embedded JSON script in the editor and click
                "Save"
            </li>
            <li>
                Review the deployment and select the resource group.<br />
                <i>Note:</i> Application name can be customized but one must
                make the necessary changes in the container to ensure that
                the application name is in the "ALLOWED_HOST" section of the
                settings file
            </li>
            <li>
                Click on "Purchase" after reviewing and confirming to Azure's
                terms and conditions
            </li>
        </ol>

        <br />

        <p> Steps to deploy the script to Azure (Shell Script)</p>
        <ol class="nested">
            <li>
                The shell script is accessible  <a
                href="https://gist.github.com/shaivaldalal/151c4b20722d63f579771d599f8710ab"
                target="_blank" style="text-decoration:underline">here</a>
            </li>
            <li>
                Download the shell script and the template file. Make sure to
                rename the template file to <code>template.json</code>
            </li>
            <li>
                Mark the shell script executable using <code>chmod +x
                azure_infrastructure_deploy.sh</code> and place the
                <code>template.json</code> in the same directory as the
                script
            </li>
            <li>
                Execute the shell script and pass parameters like your
                <code>subscriptionID (-i)</code>, <code>resourceGroupName
                (-g)</code>, <code>deploymentName (-n)</code> and
                <code>resourceGroupLocation (l-)</code> <br />
                <i>Example:</i> <code>deploy.sh -i lorem -g ipsum -n lorem -l
                ipsum</code>
            </li>
        </ol>
        <hr>
    </details>

    <details>
        <summary class="sum3">
            Azure functions
        </summary>
        <ul class="nested">
            <li>
                Create a Azure function
                <br/>
                <img src="../static/devops/azureFunctions.png" style="width:80%;">
            </li>
            <li>
                Create an HTTP interface to access the function
                <br/>
                <img src="../static/devops/azureAPI.png" style="width:80%;">
            </li>
            <li>
                Enable POST method on the function
            </li>
            <li>
                Get the function URL
                <br/>
                <img src="../static/devops/azureFunctionURL1.png" style="width:80%;">
                <br/>
                <br/>
                <img src="../static/devops/azureFunctionURL2.png" style="width:80%;">
            </li>
            <li>
                Now open Docker hub repository and paste the URL in
                the webhook section.
                <br/>
                <img src="../static/devops/dockerhubAzurewebhook.png" style="width:80%;">
            </li>
            <li>
                Any changes to the Docker Hub repo will now be reported to
                the Azure. Below is the log that gets generated in Azure
                functions when a push was made to the Docker Hub repo
                <br/>
                <img src="../static/devops/azureLogs.png" style="width:80%;">
            </li>
        </ul>
        <hr>
    </details>

    <details>
        <summary class="sum3">
            AWS Lambda and ECS
        </summary>
        <ol class="nested">
            <li>
                Connecting AWS and Docker Hub using webhooks
                <ul class="inner_nested">
                    <li>
                        Create a lambda function
                        <br/>
                        <img src="../static/devops/lambda.png" style="width:80%;">
                    </li>
                    <li>
                        Create an API Gateway. Make a post method in the API
                        Gateway
                    </li>
                    <li>
                        Link the post method to the lambda functions
                        <br/>
                        <img src="../static/devops/apiGateway.png" style="width:80%;">
                    </li>
                    <li>
                        Deploy the API gateway and save the generated URL
                        <br/>
                        <img src="../static/devops/apiGatewayURL.png" style="width:80%;">
                    </li>
                    <li>
                        Now open Docker Hub repository and paste the URL in
                        the webhook section.
                        <br/>
                        <img src="../static/devops/dockerhubAWSwebhook.png" style="width:80%;">
                    </li>
                    <li>
                        Any changes to the Docker Hub repo will now be
                        reported to the AWS Lambda function.Below is the log
                        that gets generated in AWS when a push was made to
                        the Docker Hub repo
                        <br/>
                        <img src="../static/devops/awsLogs.png" style="width:80%;">
                    </li>
                </ul>
            </li>

            <li>
                Create EC2 Cluster
                <ul class="inner_nested">
                    <li>
                      Go to ECS from menu and click on create Cluster
                      <br/>
                      <img src="../static/devops/createCluster.png" style="width:80%;">
                  </li>
                  <li>
                      Select EC2 with networking
                      <br/>
                      <img src="../static/devops/ec2Networking.png" style="width:80%;">
                  </li>
                  <li>
                      Make sure you select a completely new VPC, Security
                      group and IAM role and create.
                      <br/>
                  </li>
              </ul>
          </li>
          <li>Create Tasks on ECS
            <ul class="inner_nested">
                <li>
                  Click on task definition and create tasks with specific
                  docker and settings.
                  <br/>
                </li>
              </ul>
          </li>

          <li>Connect Lambda to ECS
            <ul class="inner_nested">
                <li>
                  Write code to access the cluster and specific
                  Tasks
                  <br/>
                  <img src="../static/devops/lamdaECSConect.png" style="width:80%;">
                </li>
            </ul>
          </li>
        </ol>
        <hr>
    </details>
</details>

    <details>
        <summary class="sum2">
            CI/CD with Azure Pipelines
        </summary>
        <ol class="nested">
            <li>
                Select New Pipelines (Pipelines -&gt New -&gt New build
                pipeline) on the Azure Devops page.
                <br />
                <img src="../static/devops/build_pipeline.png" style="width:80%;">
            </li>
            <li>
                Select the location of source code and the desired repository.
                <br />
                <img src="../static/devops/pipeline_source.png" style="width:80%;">
            </li>
            <li>
                If the repository contains the <code>azure-pipelines.yml
                </code> file, then you'll see a Run button. If not, you'll be
                asked to pick a starter template. Select Save and Run, then
                select commit directly to the master branch, and then select
                Save and Run again.
                <br />
                <img src="../static/devops/pipeline-yaml-template.png" style="width:80%;">
                <br />
                Update the YAML file appropriately depending on whether you are
                using Docker Hub or Azure Container registry.
            </li>
            <li>
                Wait until the build finishes.
            </li>
            <br />
        </ol>
        <p>
            Now that the build is finished, the next step is to configure and
            run some tests, create the container image and push it to Azure
            Container Registry.
        </p>
        <p>
        <a
        href="https://docs.microsoft.com/en-us/azure/devops/pipelines/languages/docker?view=azure-devops"
        target="_blank" style="text-decoration: underline"> Steps to
        build, test, and push Docker container apps</a>
        </p>
        <p>
        Now its time to create a release pipeline and Deploy it to Azure Web
        App for Containers.
        <br />
        <a
        href="https://docs.microsoft.com/en-us/azure/devops/pipelines/apps/cd/deploy-docker-webapp?view=azure-devops#create-a-release-pipeline"
        target="_blank" style="text-decoration: underline"> Steps to create a
        Release pipeline and deploy the App</a>
        <br />
        </p>
        <hr>
    </details>
</details>


<details>
  <summary class="sum1">
      Azure Monitoring Services
  </summary>
  <p>
      By Default Azure provides some monitoring services for
      all its applications,including Docker which can be found
      <a target="_blank" href="https://docs.microsoft.com/en-us/azure/azure-monitor/app/docker">
          here
      </a>
  </p>
  <p>
    <ul class="nested">
        <li>
          Go to Azure potal, and click on monitoring services
        </li>
        <li>
          Go to metrics, it will look like this
          </br>
            <img src="../static/devops/monitoring.png" style="width:80%;">
        </li>
    </ul>
  </p>

</details>
<details>
    <summary class="sum1">
        Other Readings
    </summary>

    <ul class="nested">
        <li>
            <a target="_blank" href="https://en.wikipedia.org/wiki/Microsoft_Visual_Studio#Azure_DevOps">
                Azure DevOps
            </a>
        </li>

        <li>
            <a target="_blank" href="https://azure.microsoft.com/en-us/blog/introducing-azure-devops/">
                Introducing Azure DevOps
            </a>
        </li>

        <li>
            <a target="_blank" href="http://www.thedevopscourse.com/devops/suite">
                Microsoft Azure DevOps: What You Need to Know
            </a>
        </li>

        <li>
            <a target="_blank" href="https://www.meetup.com/Azure-NY/">
                Azure Lounge
            </a>
        </li>

        <li>
            <a target="_blank"
            href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/docker.dockerdatacenter?tab=Overview">
                Docker Enterprise for Azure
            </a>
        </li>

        <li>
            <a target="_blank" href="https://docs.microsoft.com/en-us/azure/devops/pipelines/apps/cd/deploy-docker-webapp?view=azure-devops">
                Deploy to an Azure Web App for Containers
            </a>
        </li>

        <li>
            <a target="_blank"
            href="https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-multi-container">
                Multi-Container app using Docker Compose
            </a>
        </li>

        <li>
            <a target="_blank"
            href="https://azure.microsoft.com/en-us/blog/monitoring-azure-services-and-external-systems-with-azure-automation/">
                Monitoring Azure Services and External Systems with Azure
                Automation
            </a>
        </li>

        <li>
            <a target="_blank"
            href="https://mountainss.wordpress.com/2017/11/24/monitoring-microsoft-azure-cloud-services-and-on-premisses-datacenters-azure-msoms-cloud/">
                Monitoring Tools for Azure Services
            </a>
        </li>

        <li>
            <a target="_blank" href="https://azure.microsoft.com/en-us/blog/app-insights-microservices/">
                Application Insights support for Microservices and Containers
            </a>
        </li>

        <li>
            <a target="_blank" href="https://www.petri.com/azure-monitor-creating-alerts">
                Azure Monitor: Creating Alerts
            </a>
        </li>

        <li>
            <a target="_blank" href="https://www.petri.com/azure-monitor-creating-metrics">
                Azure Monitor: Creating Metrics
            </a>
        </li>

        <li>
            <a target="_blank" href="https://adinermie.com/azure-monitoring-tools-explained-part-1-introduction/">
                Azure Monitoring Tools Explained
            </a>
       </li>
    </ul>

</details>

{% include 'quiz.html' %}

{% endblock content %}
