{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            A Complete DevOps Suite: Azure DevOps
        </h1>

        <figure>
            <img
            src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/2018/2018-09/870x220_telerik-blogs.png?sfvrsn=42f2f9a4_1"
            width="33%">
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
            "It's clear DevOps has become increasingly critical to a team's
            success." -- Jamie Cool, Microsoft
        </p>

        <details>
            <summary class="sum1">
                Lesson 1
            </summary>

            <figure>
                <iframe width="560" height="315"
                   src="https://www.youtube.com/embed/r5venuVst40" frameborder="0"
                                                                                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <figcaption>
                    Azure DevOps, Part I
                </figcaption>
            </figure>

            <figure>
                <iframe width="560" height="315"
                 src="https://www.youtube.com/embed/8jjtY9sxNlY"
                 frameborder="0"
                 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                 allowfullscreen>
                </iframe>
                <figcaption>
                    Azure DevOps, Part II
                </figcaption>
            </figure>
            
        </details>

        <details>
            <summary class="sum1">
                Lesson 2
            </summary>

            <p>
                No content yet.
            </p>

        </details>

        <details>
            <summary class="sum1">
                Other Readings
            </summary>

            <ul class="nested">
                <li>
                    <a href="https://en.wikipedia.org/wiki/Microsoft_Visual_Studio#Azure_DevOps">
                        Azure DevOps
                    </a>
                </li>

                <li>
                    <a href="https://azure.microsoft.com/en-us/blog/introducing-azure-devops/">
                        Introducing Azure DevOps
                    </a>
                </li>

                <li>
                    <a href="http://www.thedevopscourse.com/devops/suite">
                        Microsoft Azure DevOps: What You Need to Know
                    </a>
                </li>

                <li>
                    <a href="https://www.meetup.com/Azure-NY/">
                        Azure Lounge
                    </a>
                </li>

            </ul>

        </details>


        {% include 'quiz.html' %}

{% endblock content %}
