{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            DevOps Course Teams, Fall 2018
        </h1>

        <figure>
            <img
             src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Rugby_union_scrummage.jpg/440px-Rugby_union_scrummage.jpg"
            width="18%">
        </figure>


            <h3>
                <a href="http://http://www.emu86.org">
                Emu assembly language emulator
                </a>
            </h3>

                <ul class="nested">
                    <li>
                        Cindy Lee
                    </li>

                    <li>
                    </li>

                    <li>
                    </li>

                    <li>
                    </li>

                    <li>
                    </li>

                    <li>
                    </li>
                </ul>

            <h3>
                <a href="https://gcallah.github.io/Algocynfas/index.html">
                Algocynfas
                </a>
            </h3>

            <ul class="nested">
                <li>
                    Yujia Zhang
                </li>

                <li>
                    Gong Chen
                </li>

                <li>
                    Yian Tong
                </li>

                <li>
                    Sanjay Talapalli Ravi
                </li>

                <li>
                    Jing Song
                </li>
            </ul>

            <h3>
                <a href="https://gcallah.github.io/indras_net/index.html">
                Indra
                </a>
            </h3>

            <ul class="nested">
                <li>
                    Prof. Callahan
                </li>

                <li>
                    John Knox
                </li>

                <li>
                    Wenxuan Ruan
                </li>

                <li>
                </li>

                <li>
                </li>

                <li>
                </li>
            </ul>

            <h3>
                <a href="http://www.thedevopscourse.com">
                DevOps
                </a>
            </h3>

            <ul class="nested">
                <li>
                    Akshay Tambe
                </li>

                <li>
                </li>

                <li>
                </li>

                <li>
                </li>

                <li>
                </li>
            </ul>

            <h3>
                <a href="https://gcallah.github.io/AgileCourseware/index.html">
                Agile Courseware
                </a>
            </h3>

            <ul class="nested">
                <li>
                    Vivek Bharti
                </li>

                <li>
                </li>

                <li>
                </li>

                <li>
                </li>
            </ul>

            <h3>
                Math Tools
            </h3>

            <ul class="nested">
                <li>
                    Prof. Callahan
                </li>

                <li>
                </li>

                <li>
                </li>
            </ul>

{% endblock content %}
