{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Automated Testing
        </h1>

        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/TestingCup-Polish-Championship-in-Software-Testing-Katowice-2016.jpg/440px-TestingCup-Polish-Championship-in-Software-Testing-Katowice-2016.jpg"
            width="24%">
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
        </p>

        <details>
            <summary class="sum1">
                Lesson 1: The Whys and Hows of Automated Testing
            </summary>

            <p>
                This section is co-authored by Denis Petelin and Prof.
                Callahan.
            </p>

            <ol class="nested">
                <li>
                Why do we test?
                We test to see if the software does what we want it to do.
                <br />
                And whenever it doesn't, what are the effects?
                </li>
                <li>
                Classic way to do testing: test cases, bugs, regression,
                growing "regression debt".
                    <br />
                    Please study
                    <a href="https://en.wikipedia.org/wiki/Regression_testing">
                        regression testing </a>.
                </li>
                <li>
                Revolutionary idea: zero-bug mindset: bugs are not tasks in
                backlog, you have to fix them as you go -- by the end of the
                day zero bugs exist.
                <br />
                This is part of the "incremental improvement" idea: if we do
                continuous integration and continuous delivery with small
                batches, each delivery into production should produce at most a
                "small batch" of bugs! And we can fix that small batch
                immediately.
                </li>
                <li>
                    Revolutionary idea: zero-length feedback, developers can
                    test and fix bugs immediately.
                    <br />
                    Part of this is establishing a culture of trust:
                    If we need to feed approval for each change through
                    multiple levels of bureaucracy, we can't fix bugs right
                    away. And we can relate this back to the discussion in
                    chapter one on "Taylorism" versus "Toyota Production
                    System": in the former, the "workers" just carry out the
                    plans of the "managers." In the latter, everyone is
                    responsible for the entire production process.
                </li>
                <li>
                Test pyramid:
                </li>
                <ol type="a" class="nested">
                  <li>
                      Unit tests for individual classes and methods (models,
                      controllers, views)
                  </li>
                  <li>
                      Integration tests to check feature top-down.
                  </li>
                  <li>
                Acceptance test to check feature as user sees it.
                  </li>
                </ol>
                <li>
                Terminology:
                </li>
                <ol type="a" class="nested">
                  <li>
                TestCase: set of checks to be performed.
                  </li>
                  <li>
                Fixture: prepared data to be loaded into the db.
                  </li>
                  <li>
                Fake: a real object created for the test.
                  </li>
                  <li>
                    Stub: a crude imitation of real object returning hard-coded
                    values.
                  </li>
                  <li>
                    Mock: an elegant imitation of the object (if real object
                    is not yet ready or expensive).
                  </li>
                  <li>
                    Test suite: set of tests serving specific purpose. Always:
                    smoke test, main success [AKA happy path], extended tests.
                  </li>
                </ol>
                <li>
                Django benefits:
                </li>
                <ol type="a" class="nested">
                  <li>
                    No need to unit-test Models (except custom query sets &amp;
                    business logic methods).
                  </li>
                  <li>
                    No need to integration-test Autogenerated View (except live
                    tests).
                  </li>
                </ol>
                <li>
                Anatomy of test case:
                </li>
                <ol type="a" class="nested">
                  <li>
                setUp()
                  </li>
                  <li>
                Test_whatYouTest_whatYouDo_whatYouExpect.
                  </li>
                  <li>
                Arrange -- Act -- Assert.
                  </li>
                  <li>
                Assert kinds.
                  </li>
                  <li>
                tearDown()
                  </li>
                </ol>
                <li>
                Preparing data -- AutoFixture
                </li>
                <ol type="a" class="nested">
                  <li>
                    TaskModelTransactionTestCase(TransactionTestCase): regular
                    fixture.
                  </li>
                  <li>
                For lazy guys -- AutoFixture :)
                  </li>
                  <li>
                fixture.create()
                  </li>
                </ol>
                <li>
                Typical mistakes:
                </li>
                <ol type="a" class="nested">
                  <li>
                    Useless tests -- testing default Models methods, for
                    example.
                  </li>
                  <li>
                    Testing implementation -- method save_changes() returns OK
                    -- everything is OK! (Test should check if changes indeed
                    persisted).
                  </li>
                  <li>
                Large tests? Fat controllers! 
                  </li>
                  <li>
                Refactoring:
                  </li>
                  <ol type="a" class="nested">
                    <li>
                Small methods -- less than a screen.
                    </li>
                    <li>
                Small tests -- 8-10 lines.
                    </li>
                    <li>
                Refactoring palette in the PyCharm.
                    </li>
                  </ol>
                </ol>
                <li>
                Good beginners pattern:
                </li>
                <ol type="a" class="nested">
                  <li>
                    Create Model. Add tests if there are custom methods.
                  </li>
                  <li>
                    Create Controller (View as Django calls it). Test if does
                    what it should do. Test if it handles errors.
                  </li>
                  <li>
                    Write View (Template as Django calls it). Write
                    LiveTestCase using requirements.
                  </li>
                  <li>
                    Why preparing requirements still matters (“Please show
                    balance" in Danfoss).
                  </li>
                </ol>
                <li>
                    Big idea: can we somehow make requirements document
                    testable?
                </li>
                <ol type="a" class="nested">
                  <li>
                    Turning use cases into tests -- gherkin
                  </li>
                  <li>
                    Feature file &amp; steps
                  </li>
                  <li>
                    Passing info around -- context
                  </li>
                  <li>
                    Selenium -- driving real browser around
                  </li>
                  <li>
                    Behave test runner (behave-Jango)
                  </li>
                  <li>
                    JIRA: acceptance tests are now part of the 
                  </li>
                  <li>
                    Relying strictly on this type of testing is bad idea! (See
                    execution time for <b>one</b> test vs whole suite!)
                  </li>
                </ol>
            </ol>
        </details>

        <details>
            <summary class="sum1">
                Lesson 2: Testing Frameworks
            </summary>

            <figure>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/KV5Mz5WJhY8" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
                <figcaption>
                    Python testing with pytest! Part 1:
                    Introductions and motivating testing.
                </figcaption>
            </figure>

            <figure>
                <iframe width="560" height="315"
                   src="https://www.youtube.com/embed/61qlPRhTPLY"
                   frameborder="0"
                   allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <figcaption>
                    Python testing with pytest! Part 2
                </figcaption>
            </figure>

            <p>
                <a href="https://docs.pytest.org/en/latest/">
                    pytest documentation
                </a>
            </p>

        </details>

        <details>
            <summary class="sum1">
                Lesson 3: Jenkins
            </summary>

            <p>
                Jenkins is a CI/CD tool, but it is <i>used</i>
                to force the running of automated tests as part of
                the build process, so we have included it in this 
                section.
            </p>

            <figure>
                <iframe width="560"
                        height="315"
                        src="https://www.youtube.com/embed/ww7zajz3mdA"
                        frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <figcaption>
                    Introduction to Jenkins by Denis Petelin
                </figcaption>
            </figure>

            <p>
                <a href="https://en.wikipedia.org/wiki/Jenkins_(software)">
                    Jenkins</a>
                on Wikipedia.
            </p>

        </details>

        <details>
            <summary class="sum1">
                Other Material
            </summary>

            <figure>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/V568cAbz2ls" 
                    frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen>
                </iframe>
                <figcaption>
                    What Is Jenkins?
                </figcaption>
            </figure>

            <ul class="nested">
               <li>
                    <a
                href="https://devops.com/a-crash-course-in-continuous-testing/">
                        A Crash  Course in Continuous Testing
                    </a>
                </li>


                <li>
                    <a
                        href="https://devops.com/future-continuous-testing-fail-faster/">
                        The Future of Continuous Testing: Fail Faster
                    </a>
                </li>

                <li>
                    <a href="http://norvig.com/spell-correct.html">
                        Design for a Python-based spell checker
                    </a>
                    <br />
                    (We want one of these for our web pages!
                    We will try to build it.)
                </li>

                <li>
                    <a href="https://gist.github.com/misterbrownlee/3708738">
                        Setting up Jenkins as a webhook in GitHub
                    </a>
                </li>

                <li>
                    <a href="https://www.youtube.com/watch?v=TWwvxn2-J7E">
                        Slack notification plugin integration with Jenkins
                    </a>
                </li>

                <li>
                    <a href="https://blog.travis-ci.com/2017-12-05-what-is-ci-part-1">
                        Testing and Continuous Integration Part 1
                    </a>
                </li>

                <li>
                    <a href="https://blog.travis-ci.com/2018-01-25-what-is-ci-part-2">
                        Testing and Continuous Integration Part 2
                    </a>
                </li>

                <li>
                    <a href="https://techblog.covermymeds.com/databases/jenkins-test-files-changed-git-commit/">
                        Testing only recently changed git files in jenkins
                    </a>
                </li>
            </ul>

        </details>

        {% include 'quiz.html' %}

{% endblock content %}
