{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Automated Testing
        </h1>

        <figure>
            <img src="">
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
        </p>

        <details>
            <summary class="sum1">
                Lesson 1
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Lesson 2
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Lesson 3
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Other Readings
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Quiz
            </summary>
        </details>


{% endblock content %}
