{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            The DevOps Way of Work
        </h1>

        <figure>
            <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Labor-Pearce-Highsmith-detail-1.jpeg/440px-Labor-Pearce-Highsmith-detail-1.jpeg"
            width="21%">
            <figcaption>
            </figcaption>
        </figure>

        <p class="leadquote">
            "Working software is the primary measure of progress." -- The Agile
            Manifesto
        </p>

        <details>
            <summary class="sum1">
                Lesson 1
            </summary>

            <p>
                As software engineers, our aim should be to deliver programs to
                our users that perform the tasks they need that sotware to
                perform. The whole field of software engineering has centered
                around how to achieve that goal.
            </p>

            <p>
                One attempt to achieve it was the
                <a href="https://en.wikipedia.org/wiki/Waterfall_model">
                    waterfall model</a>
                of software developement.
            </p>

            <figure>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Waterfall_model.svg/700px-Waterfall_model.svg.png"
                width="24%">
                <figcaption>
                    The waterfall model
                </figcaption>
            </figure>

            <p>
                But the waterfall model produced many failures:
                <a href="https://en.wikipedia.org/wiki/Death_march_(project_management)">death marches</a>,
                instances of the 
                <a href="https://en.wikipedia.org/wiki/Ninety-ninety_rule">ninety-ninety rule</a>,
                <a
                    href="https://en.wikipedia.org/wiki/Small_matter_of_programming">small
                    matter of programming issues</a>,
                <a
                    href="https://en.wikipedia.org/wiki/Planning_fallacy">planning
                    fallacies</a>,
                and many more such problems.
            </p>

            <p>
                Of course, <i>some</i> software projects using the waterfall
                model succeeded. But it turns out that most successful software
                projects, over many decades, instead followed the 
                "<a href="https://en.wikipedia.org/wiki/Unix_philosophy">UNIX philosophy</a>, 
                where development projects sought to quickly achieve a MVP,
                and then proceeded to improve that initial product with
                incremental changes.
            </p>

        </details>

        <details>
            <summary class="sum1">
                Lesson 2
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Lesson 3: Scrum
            </summary>
        </details>

        <details>
            <summary class="sum1">
                Other Readings
            </summary>

            <ul class="nested">
               <li>
                    <a href="https://leankit.com/learn/lean/principles-of-lean-development/">
                        Lean development principles
                    </a>
                </li>

                <li>
                    <a href="https://www.agilealliance.org/agile101/12-principles-behind-the-agile-manifesto/">
                        Agile development principles
                    </a>
                </li>

                <li>
                    <a href="https://hackerchick.com/just-do-it-quick-intro-to-agiles/">
                        Agile Technical Practices
                    </a>
                </li>

                <li>
                    <a href="https://gcallah.github.io/DevOps/divOfLabor/divOfLaborPaper.html">
                        DevOps and the Division of Labor
                    </a>
                </li>

                <li>
                    <a href="https://gcallah.github.io/TechManagement/SDAsDiscovery.html">
                        Software Development as a Discovery Procedure
                    </a>
                </li>

            </ul>

        </details>


        {% include 'quiz.html' %}

{% endblock content %}
